<div class="d-flex justify-content-center w-100 mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-content">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div class="pt-3">
                        
                        <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                            <img src="http://localhost/contigo24/storage/app/media/icons/user.png" alt="">
                            <br>¡Ya has iniciado sesión!</h4>
                        <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                            Accede a tus ordenes accediendo a tu <a href="{{'profile'| page}}">Perfil</a>
                            <br> o <br>
                            Visita nuestra <a class="btn btn-sm btn-primary" href="{{ 'index'|staticPage }}">HOME</a>
                        </div>
                      
                    </div>
                    <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>