[Cart]
==
{% set obCartPositionList = Cart.get() %}

{% set arPriceData = Cart.getTotalPriceData() %}
{% if obCartPositionList.isNotEmpty() %}

<div class="dropcart__header">
    <div class="dropcart__title">Carrito</div>
    <button class="dropcart__close" type="button">
        <svg width="12px" height="12px">
            <use xlink:href="{{'images/sprite.svg'|media}}#cross-12"></use>
        </svg>
    </button>
</div>

<div class="dropcart__products-list">
{% for obCartPosition in obCartPositionList %}

    {% set obOffer = obCartPosition.offer %}
    <div class="dropcart__product">
    <div class="product-image dropcart__product-image">
        <a href="{{ 'single-product'|page({slug: obOffer.product.slug  }) }}" class="product-image__body">
            <img class="product-image__img" src="{{obOffer.product.preview_image.path}}" alt="">
        </a>
    </div>
    <div class="dropcart__product-info">
        <div class="dropcart__product-name"><a href="{{ 'single-product'|page({slug: obOffer.product.slug  }) }}">{{obOffer.product.name}}</a></div>
        
        <div class="dropcart__product-meta">
            
            {% if obOffer.quantity == 0 %}

            <span class="dropcart__product-price sold-out">
                AGOTADO
            </span>
            {% elseif(obOffer.quantity < obCartPosition.quantity) %}
            <span class="orange-text">
                  MODIFICAR CANTIDAD
            </span>
            {% else %}
            <span class="dropcart__product-quantity">{{obCartPosition.quantity}}</span> ×
            <span class="dropcart__product-price">{{ obOffer.price|replace({' ':'.'}) }} {{obOffer.getActiveCurrency()}}</span>
            {% endif %}
            
            
            
        </div>
        
    </div>
    
    <button type="button" class="dropcart__product-remove btn btn-light btn-sm btn-svg-icon remove-from-cart" 
        data-offer-id="{{obOffer.id}}">

        <svg width="10px" height="10px">
            <use xlink:href="{{'images/sprite.svg'|media}}#cross-10"></use>
        </svg>
    </button>
    
</div>
<div class="w-100 d-flex justify-content-end">
    <span><button class="btn btn-secondary btn-xs product-trigger" data-product-id="{{obCartPosition.offer.product.id}}"
        data-quantity="{{obCartPosition.quantity}}">Modificar</button></span>
    
</div>
<hr>
{% endfor %}
</div>

{% set prices = arPriceData.getData() %}

<div class="dropcart__totals">
    <table>
        {% if prices.discount_price_value > 0 %}
        <tr>
            <th>Antes</th>
            <td> <span class="product-card__old-price">{{ obCartPositionList.getCurrency()}} {{prices.old_price|replace({' ':'.'})}}</span></td>
        </tr>

        <tr>
            <th>Ahorro</th>
            <td><span class="product-card__new-price">{{ obCartPositionList.getCurrency()}} {{prices.discount_price|replace({' ':'.'})}}</span></td>
        </tr>
        {% endif %}
    
        <tr>
            <th>Total</th>
            <td> {{arPriceData.price|replace({' ':'.'})}} {{ obCartPositionList.getCurrency()}}</td>
        </tr>
    </table>
</div>
{% else %}
<div class="col-md-12 mt-2">
    <div class="alert alert-warning mb-0">
        Tu carrito está vacío
    </div>
</div>

{% endif %} 

<div class="dropcart__buttons">
    <a class="btn btn-primary" href="{{'cart'|page}}">Ir a pagar</a>
</div>
