<!-- site__footer -->
<footer class="site__footer">
    <div class="site-footer">
        <div class="container">
            <div class="site-footer__widgets">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Contacto</h5>
                            
                            <div class="footer-contacts__text">
                                {{this.theme.slogan}}
                            </div>
                            
                            <ul class="footer-contacts__contacts">
                                <li><i class="footer-contacts__icon fas fa-globe-americas"></i>
                                    {{this.theme.address}}
                                </li>
                                <li><i class="footer-contacts__icon far fa-envelope"></i> 
                                    {{this.theme.email}}
                                </li>
                                <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> {{this.theme.phone}}</li>
                                <li><i class="footer-contacts__icon far fa-clock"></i> {{this.theme.schedule}}</li>
                            </ul>
                        </div>
                    </div>
                    {#
                    <div class="col-6 col-md-3 col-lg-4">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Information</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="" class="footer-links__link">About Us</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Delivery Information</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Privacy Policy</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Brands</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Contact Us</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Returns</a></li>
                                <li class="footer-links__item"><a href="" class="footer-links__link">Site Map</a></li>
                            </ul>
                        </div>
                    </div>
                    #}
                    <div class="col-12 col-md-3 col-lg-4">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Sitio</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="{{'blog'|page}}" class="footer-links__link">Blog</a></li>
                               {#
                                <li class="footer-links__item">
                                    <a class="footer-links__link" href="{{'terminos-y-condiciones'|staticPage}}" target="_blank">
                                        Términos y condiciones
                                    </a>
                                </li>
                                #}
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Newsletter</h5>
                            <div class="footer-newsletter__text">
                                Déjanos tu correo y te mantendremos al tanto de todas nuestras novedades
                            </div>
                            <form action="" class="footer-newsletter__form" id="subscribe-form">
                                <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                                <input type="text" name="email" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" 
                                placeholder="Tu email aquí">
                                <button class="footer-newsletter__form-button btn btn-primary">Suscribirse</button>
                                <input type="hidden" name="latitude" id="latitude">
                                <input type="hidden" name="longitude" id="longitude">
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">
                                <h5>¿Ya nos sigues?</h5> 
                            </div>
                            <!-- social-links -->
                            <div class="social-links footer-newsletter__social-links social-links--shape--circle">
                                <ul class="social-links__list">
                                    {% if this.theme.rrss is not empty %}
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--rss" href="" target="_blank">
                                            <i class="fas fa-rss"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if this.theme.youtube is not empty %}
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--youtube"
                                         href="{{this.theme.youtube}}" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if this.theme.facebook is not empty %}
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--facebook"
                                         href="{{this.theme.facebook}}" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if this.theme.twitter is not empty %}
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--twitter"
                                         href="{{this.theme.twitter}}" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    {% if this.theme.instagram is not empty %}
                                    <li class="social-links__item">
                                        <a class="social-links__link social-links__link--type--instagram"
                                         href="{{this.theme.instagram}}" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- social-links / end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="site-footer__copyright">
                    <!-- copyright -->
                    Powered by <a href="https://dictya.com" target="_blank">Dictya.com</a>
                    <!-- copyright / end -->
                </div>
                <div class="site-footer__payments">
                    <img src="{{'logos-visa-master-footer.png'|media}}" class="img-fluid" alt="Logo visa master">
                </div>
            </div>
        </div>
        {#
        <div class="totop">
            <div class="totop__body">
                <div class="totop__start"></div>
                <div class="totop__container container"></div>
                <div class="totop__end">
                    <button type="button" class="totop__button">
                        <svg width="13px" height="8px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-up-13x8"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        #}
    </div>
</footer>
<!-- site__footer / end -->