<div class="d-flex justify-content-center w-100 mt-4 pb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-content">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div class="pt-3 ">
                        
                        <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                            <img src="http://localhost/contigo24/storage/app/media/icons/user.png" alt="">
                            <br>Disculpa</h4>
                        <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                            Debes <strong><a href="#" class="login-trigger external-trigger">iniciar sesión</a></strong> 
                            o <strong><a href="{{'register'|page}}">registrarte</a></strong> 
                            para acceder a este contenido
                        </div>
                      
                    </div>
                    <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>