
[UserData]

[CurrencyList]

[CategoryList]

[viewBag]
==
<?php

function onStart(){

    use Lovata\Shopaholic\Classes\Helper\CurrencyHelper;
    $currencyCode = CurrencyHelper::instance()->getActiveCurrencyCode();
    $this["currentCurrencyCode"] = $currencyCode;
    
}
?>
==
{% set obCurrencyList = CurrencyList.make().active().sort() %}
{% set obUser = UserData.get %}

{% set obCategoryList = CategoryList.make().active() %}

{% set obCartPositionList = Cart.get() %}

{% set full_quantity = 0 %}

{% for obCartPosition in obCartPositionList %}

    {% set full_quantity = full_quantity + obCartPosition.quantity %}

{% endfor %}
<header class="site__header d-lg-none">
    <!-- data-sticky-mode - one of [pullToShow, alwaysOnTop] -->
    <div class="mobile-header mobile-header--sticky" data-sticky-mode="alwaysOnTop">
        <div class="mobile-header__panel">
           
            <div class="container">
                <div class="mobile-header__body">
                    <button class="mobile-header__menu-button">
                        <svg width="18px" height="14px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#menu-18x14"></use>
                        </svg>
                    </button>
                    <a class="mobile-header__logo" href="{{ 'index'|staticPage }}">
                        <!-- mobile-logo -->
                        <img src="{{'images/farmalacorina-white.png'|media}}" style="height:50px;">
                        <!-- mobile-logo / end -->
                    </a>
                    <div class="search search--location--mobile-header mobile-header__search" id="mobile-search-input-container">
                        <div class="search__body">
                            <form class="search__form" id="search-form-mobile">
                                <input class="search__input mobile-input" name="search" placeholder="Encuentra cientos de productos" aria-label="Site search" type="text" autocomplete="off">
                                <button class="search__button search__button--type--submit" type="submit">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{{'images/sprite.svg'|media}}#search-20"></use>
                                    </svg>
                                </button>
                                <button class="search__button search__button--type--close" type="button">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{{'images/sprite.svg'|media}}#cross-20"></use>
                                    </svg>
                                </button>
                                <div class="search__border"></div>
                            </form>
                            <div id="suggestions-container-mobile" class="search__suggestions suggestions suggestions--location--mobile-header">
                                {% partial 'suggestions' %}
                            </div>
                        </div>
                    </div>
                    <div class="mobile-header__indicators">
                        <div class="indicator indicator--mobile-search indicator--mobile d-md-none">
                            <button class="indicator__button">
                                <span class="indicator__area">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{{'images/sprite.svg'|media}}#search-20"></use>
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div class="indicator indicator--mobile">
                            <a href="#" class="indicator__button" data-open="offcanvas-cart">
                                <span class="indicator__area">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{{'images/sprite.svg'|media}}#cart-20"></use>
                                    </svg>
                                    <span class="indicator__value">{{full_quantity}}</span>
                                </span>
                            </a>
                        </div>
                        <div class="indicator indicator--trigger--click" id="login-menu-mobile">

                            <a href="#" class="indicator__button">
                                <span class="indicator__area">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="{{'images/sprite.svg'|media}}#person-20"></use>
                                    </svg>
                                    {% if obUser is not null %}
                                    <span class="session-indicator"></span>
                                    {% endif %}
                                    
                                </span>
                            </a>
                            <div class="indicator__dropdown">
                                <div class="account-menu">
                                    {% if obUser is null %}
                                    <form class="account-menu__form login-form" id="login-form">
                                        <div class="account-menu__form-title">Inicia sesión</div>
                                        <div class="form-group">
                                            <label  class="sr-only">Email</label>
                                            <input  type="email" name="email" class="form-control form-control-sm" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label  class="sr-only">Password</label>
                                            <div class="account-menu__form-forgot">
                                                <input  type="password" name="password" class="form-control form-control-sm" placeholder="Password">
                                                <a href="{{'recovery'|page}}" class="account-menu__form-forgot-link">¿recuperar?</a>
                                            </div>
                                        </div>
                                        <div class="form-group account-menu__form-button">
                                            <button type="submit" class="btn btn-primary btn-sm">Iniciar sesión</button>
                                        </div>
                                        <div class="account-menu__form-link"><a href="{{'register'|page}}">Registrarse</a></div>
                                    </form>
                                    {% else %}
                                    <a href="{{'profile'|page({'menu': 'info' })}}" class="account-menu__user">
                                        <div class="account-menu__user-avatar">
                                            <img src="images/avatars/avatar-3.jpg" alt="">
                                        </div>
                                        <div class="account-menu__user-info">
                                            <div class="account-menu__user-name">{{obUser.name}} {{obUser.last_name}}</div>
                                            <div class="account-menu__user-email">{{obUser.email}}</div>
                                        </div>
                                    </a>
                                    <div class="account-menu__divider"></div>
                                    <ul class="account-menu__links">
                                        <li><a href="{{'profile'|page({'menu': 'info' })}}">Editar Perfil</a></li>
                                        <li><a href="{{'profile'|page({'menu': 'historial' })}}">Historial de Ordenes</a></li>
                                        <li><a href="{{'profile'|page({'menu': 'seguridad' })}}">Seguridad</a></li>
                                    </ul>
                                    <div class="account-menu__divider"></div>
                                    <ul class="account-menu__links">
                                        <li><a href="#" class="logout">Salir</a></li>
                                    </ul>
                                
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="mobilemenu">
    <div class="mobilemenu__backdrop"></div>
    <div class="mobilemenu__body">
        <div class="mobilemenu__header">
            <div class="mobilemenu__title">Menu</div>
            <button type="button" class="mobilemenu__close">
                <svg width="20px" height="20px">
                    <use xlink:href="{{'images/sprite.svg'|media}}#cross-20"></use>
                </svg>
            </button>
        </div>
        <div class="mobilemenu__content">
            <ul class="mobile-links mobile-links--level--0" data-collapse="" data-collapse-opened-class="mobile-links__item--open">
                <li class="mobile-links__item" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="{{ 'index'|staticPage }}" class="mobile-links__item-link">Home</a>
                    </div>
                </li>

                <li class="mobile-links__item" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="#" class="mobile-links__item-link">
                            
                                Moneda: <strong>{{currentCurrencyCode}}</strong>
                            
                            
                        </a>
                        <button class="mobile-links__item-toggle" type="button" data-collapse-trigger="">
                            <svg class="mobile-links__item-arrow" width="12px" height="7px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-down-12x7"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="mobile-links__item-sub-links" data-collapse-content="">
                        <ul class="mobile-links mobile-links--level--1">
                            {% for obCurrency in obCurrencyList %}
                               
                                <li class="mobile-links__item" data-collapse-item="">
                                    <div class="mobile-links__item-title">
                                        <a href="#" class="mobile-links__item-link currency-option" data-value="{{obCurrency.code}}">
                                            {{obCurrency.code}}
                                           
                                        </a>
                                    </div>
                                </li>
                                
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                
                {% set obMainCategoryList = CategoryList.make().getByCode(['main-bar']) %}
                {% for obCategory in obMainCategoryList %}
                <li class="mobile-links__item" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="{{ 'category'|page({slug: obCategory.slug }, false) }}" class="mobile-links__item-link">
                            {{obCategory.name}}
                        </a>
                    </div>
                </li>
                {% endfor %}
                
                <li class="mobile-links__item mobile-links__item--open" data-collapse-item="">
                    <div class="mobile-links__item-title">
                        <a href="#" class="mobile-links__item-link">
                            <strong>
                                Categorías
                            </strong>
                            
                        </a>
                        <button class="mobile-links__item-toggle" type="button" data-collapse-trigger="">
                            <svg class="mobile-links__item-arrow" width="12px" height="7px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-down-12x7"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="mobile-links__item-sub-links" data-collapse-content="">
                        <ul class="mobile-links mobile-links--level--1">
                            {% for obCategory in obCategoryList  %}
                                {% if obCategory.parent_id == null and obCategory.code is empty %}
                                <li class="mobile-links__item" data-collapse-item="">
                                    <div class="mobile-links__item-title">
                                        <a href="{{ 'category'|page({slug: obCategory.slug }, false) }}" class="mobile-links__item-link">
                                            {% if obCategory.icon is not empty %}
                                            <img src="{{obCategory.icon.path}}" style="max-width: 40px; max-height: 40px" class="img-fluid pr-2">
                                            {% endif %}
                                            {{obCategory.name}}
                                        </a>
                                    </div>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>