[UserData]
==
{% set obUser = UserData.get %}

{% if obUser is null %}

<div class="page-header">
    <div class="page-header__container container">
        {% partial 'misc/simple-breadcrumb' %}
        <div class="page-header__title mt-2">
            <h1>Únete a nosotros</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 d-flex flex-column mt-4 mt-md-0">
        <div class="card flex-grow-1 mb-0">
            <div class="card-body">
                <h3 class="card-title">Registro de usuario</h3>
                <form id="register-form">
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="name">Nombre</label>

                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="last_name">Apellido</label>

                            <input type="text" class="form-control" name="last_name">
                        </div>

                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="email">Email</label>

                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="col-md-6 col-sm-12 col-form-control bootstrap-select-container pb-4"
                        data-pattern="\(?\+[0-9]{1,3}\)? ?-?[0-9]{1,3} ?-?[0-9]{3,5} ?-?[0-9]{4}( ?-?[0-9]{3})?">
                            <label >Teléfono</label>
                            {% set phone =  obUser.phone|split("-") %}
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                
                                    <select class="custom-select" id="country-codes" name="country_code" 
                                    data-live-search="true"  {{organicUser == true ? 'disabled'}}>
                                        {% for codes in phoneCodes %}
                                        {% if phone|length < 2 %}
                                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                        {% else %}
                                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                        {% endif %}
                
                                        {% endfor %}
                                        </select>
                                </div>
                                <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                                    placeholder="4141245678" {{organicUser == true ? 'readonly=true'}}>
                                </div>
                                <div class="errors"></div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 col-form-control pb-4">
                            <label >Documento de identidad</label>
                    
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <select class="custom-select" name="property[document_type]">
                                        <option value="V">V</option>
                                        <option value="E">E</option>
                                        <option value="P">P</option>
                                        <option value="J">J</option>
                                        </select>
                                </div>
                                <input type="text" class="form-control" name="property[document]"
                                    placeholder="Ej: 123456">
                                </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="password" >Contraseña</label>

                            <input type="password" name="password" class="form-control" >
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="password_confirmation">Repite Contraseña</label>

                            <input type="password" class="form-control" name="password_confirmation">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-4">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% else %}

    {% partial 'already-logged' %}


{% endif %}