<ul class="suggestions__list">
    {% for obProduct in suggestions %}
    {% set obOffer = obProduct.offer.active().first() %}

    <li class="suggestions__item product-trigger" data-product-id="{{obProduct.id}}">
        <div class="suggestions__item-image product-image">
            <div class="product-image__body">
                <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
            </div>
        </div>
        <div class="suggestions__item-info">
            <a class="suggestions__item-name">
                {{obProduct.name}}
            </a>
        </div>
        <div class="suggestions__item-price">
            {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
        </div>
        <div class="suggestions__item-actions">
            <button type="button" class="btn btn-primary btn-sm btn-svg-icon">
                <svg width="16px" height="16px">
                    <use xlink:href="{{'images/sprite.svg'|media}}#cart-16"></use>
                </svg>
            </button>
        </div>
    </li>
    {% endfor %}

</ul>