{% set obOffer = obProduct.offer.active().first() %}

<div class="block-products-carousel__cell">
    <div class="product-card ">
        <button class="product-card__quickview product-trigger" type="button" data-product-id="{{obProduct.id}}">
            <svg width="16px" height="16px">
                <use xlink:href="{{'images/sprite.svg'|media}}#quickview-16"></use>
            </svg>
            <span class="fake-svg-icon"></span>
        </button>
        {% if obOffer.old_price_value > 0 %}
        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--sale">Oferta</div>
        </div>
        {% endif %}
        
        <div class="product-card__image product-image product-trigger" data-product-id="{{obProduct.id}}">
            
            <a href="#" class="product-image__body">
                <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="{{ 'single-product'|page({product_id: obProduct.id, slug: obProduct.slug }) }}">
                    {{obProduct.name}}
                </a>

                {% if obOffer.quantity < 1 or obOffer.price_value <= 0 %}
                
            <p class="text-center pt-3 "><span class="sold-out">AGOTADO</span></p>
            {% endif %}
            </div>
            
        </div>
        <div class="product-card__actions">
            <div class="product-card__availability">
              {#  Availability: <span class="text-success">In Stock</span>#}
            </div>
            {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
            <div class="product-card__prices">
                
                <p class="custom-availability"><span class="grey-1-text">Disponibles:</span> <span class="green-text">{{obOffer.quantity}}</span></p>
               
                    {% if obOffer.old_price_value > 0 %}
                    <span class="product-card__new-price">
                        {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                    </span>
                    <span class="product-card__old-price">
                        {{ obOffer.old_price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                    </span>
                    {% else %}
                    {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                    
                    {% endif %}
                
            </div>
           
            <div class="product-card__buttons">
                <form class="d-flex justify-content-between w-100 product-card-form">
                    <div class="col-md-6 col-sm-12 pl-0">
                        <div class="form-group">
                        
                            <select name="quantity" class="form-control select-card-{{obProduct.id}}">
                                {% for i in 1..obOffer.quantity %}
                                <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                          </div>
                    </div>
                    <div class="col-md-6 col-sm-12 pr-0">
                        <input type="submit" value="Añadir" class="btn btn-primary product-card__addtocart w-100">
                            
                    </div>
                    <input type="hidden" name="offer" value="{{obOffer.id}}">
                </form>
                
            </div>
            {% endif %}
            
        </div>
    </div>
</div>