<div class="page-header__breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ 'index'|staticPage }}">Home</a>
                <svg class="breadcrumb-arrow" width="6px" height="9px">
                    <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-6x9"></use>
                </svg>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{this.page.meta_title}}</li>
        </ol>
    </nav>
</div>