[UserData]
==

{% if obUser == null %}
    {% set obUser = UserData.get %}
{% endif %}

{% if obUser %}

{% set phoneCodes = ContactHandler.getPhoneCodes() %}

<div id="smartwizard">
    <ul class="nav">
        <li>
            <a class="nav-link" href="#step-1">
                Cliente
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-2">
                Entrega/Retiro
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-3">
            Locación/Horario
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-4">
                Comentarios
            </a>
        </li>
    </ul>
    <form id="order-form">
        <div class="tab-content">
            <div id="step-1" class="tab-pane" role="tabpanel">
                <div class="col-md-12">
                    <hr>
                    <h6 class="mt-2 ">Información de cliente</h6>
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="name">Nombre</label>

                            <input type="text" name="name" class="form-control"
                            value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.name}}">
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="last_name">Apellido</label>

                            <input type="text" class="form-control" name="last_name"
                            value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.last_name}}">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="email">Email</label>

                            <input type="email" class="form-control" name="email" value ="{{obUser.isNotEmpty() and obUser.email != '' ? obUser.email}}">
                        </div>
                        <div class="col-md-6 col-sm-12 col-form-control bootstrap-select-container form-group">
                            <label >Teléfono</label>
                            {% set phone =  obUser.phone|split("-") %}
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                
                                    <select class="custom-select" id="country-codes" name="country_code" 
                                    data-live-search="true"  {{organicUser == true ? 'disabled'}}>
                                        {% for codes in phoneCodes %}
                                        {% if phone|length < 2 %}
                                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                        {% else %}
                                            <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                        {% endif %}
                
                                        {% endfor %}
                                        </select>
                                </div>
                                <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                                    placeholder="4141245678" {{organicUser == true ? 'readonly=true'}}>
                                </div>
                                <div class="errors"></div>
                        </div>
                    </div>
                
                    {% set document =  obUser.property.document|split("-") %}

                    <div class="form-row">
                        <div class="col-md-6 col-sm-12">
                            <label >Documento de identidad</label>
                    
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <select class="custom-select" name="property[document_type]">
                                        <option value="V"  {{document[0] == "V" ? 'selected' }}>V</option>
                                        <option value="E">E</option>
                                        <option value="P">P</option>
                                        <option value="J">J</option>
                                        </select>
                                </div>
                                <input type="text" class="form-control" name="property[document]"
                                    placeholder="Ej: 123456" value="{{document[1]}}">
                                </div>
                        </div>
                    </div>
                    <hr>
                
                </div>
                
            </div>
            <div id="step-2" class="tab-pane" role="tabpanel">
                <div class="col-md-12">
                    <hr>
                    <h6 class="mt-2 ">Elige un tipo de entrega/retiro</h6>
                    {% partial 'cart/shipping-type-list' %}
                </div>
            </div>
            <div id="step-3" class="tab-pane" role="tabpanel">
                <div class="col-md-12">
                    <hr>
                    <div id="delivery-section" class="d-none">
                        <div class="form-row" id="cities-list-container" >
                            {% partial 'cart/cities-list' %}
                            
                        </div>

                        <div class="form-row" id="zones-list-container">
                            {% partial 'cart/zone-list' %}
                        </div>

                        
                        <div class="form row">
                            <div class=" col form-group">
                                <label for="exampleFormControlTextarea1">Escribe aquí tu dirección</label>
                                <textarea class="form-control"  name="order[property][shipping_address1]" rows="3"></textarea>
                                </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-12 form-group" id="shipping-dates-container">
                            {% partial 'cart/shipping-date' %}
                        </div>
                        <div class="col-md-6 col-sm-12 form-group" id="shipping-timeblock-container">
                            {% partial 'cart/shipping-time' %}

                            
                        </div>
                        {% set selectedShippingType = Cart.getActiveShippingTypeFromRequest() %}
                      
                    </div>
                    
                </div>
                
            </div>
            <div id="step-4" class="tab-pane" role="tabpanel">
                <div class="col-md-12">
                    <hr>
                    <h6 class="mt-2">Casi terminamos</h6>
                    <div class="form-row">
                        <div class=" col form-group">
                            <label for="exampleFormControlTextarea1">Si tienes alguna observación escríbela a continuación</label>
                            <textarea class="form-control" name="order[property][order_comments]" rows="3"></textarea>
                            </div>
                    </div>
                    <div class="form-row">
                        <p>Escribe un número telefónico nacional adicional donde podamos llamarte</p>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="">Codigo</label>
                            <select class="form-control" name="phone_code" id="phone_code">
                                
                                <option value="0414">0414</option>
                                <option value="0424">0424</option>
                                <option value="0412">0412</option>
                                <option value="0416">0416</option>
                                <option value="0426">0426</option>
                                <option value="0241">0241</option>
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-12 form-group">
                            <label for="name">Teléfono adicional</label>

                            <input type="text" name="order[property][contact_number]" class="form-control">
                        </div>
                    </div>
                    <div class="form-row justify-content-center pb-3">
                        
                            <button class="btn btn-primary">Ver métodos de pago</button>
                    
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% else %}
    <div class="col-md-12">
        <div class="row">
            <div class="d-flex justify-content-center w-100 pb-3">
               
                    <div class="card">
                        <div class="card-content">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="pt-3">
                                    
                                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                                        <img src="http://localhost/contigo24/storage/app/media/icons/user.png" alt="">
                                        <br>Disculpa</h4>
                                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                                        Debes <strong><a href="#" class="login-trigger external-trigger">iniciar sesión</a></strong> 
                                        o <strong><a href="{{'register'|page}}">registrarte</a></strong> 
                                        para acceder a este contenido
                                       
                                    </div>
                                  
                                </div>
                                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                                
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
    
    
{% endif %}