[Cart]

[PaymentsHandler]

==
{% set obCartPositionList = Cart.get() %}

{% set cities = CityList.getCityList() %}

{% set arPriceData = Cart.getTotalPriceData() %}

{% set prices = arPriceData.getData() %}



<div class="col form-group" >
    <label for="name">Elige una ciudad</label>

    <select id="cities-select" class="form-control" name="order[property][shipping_city]">
        {% for city in cities %}
        
        <option value="{{city.isAvailableForShipping(arPriceData.price_value) == true ? city.id : -1 }}"
        data-index = "{{loop.index}}">
            {{city.name}}
        </option>
      
        {% endfor %}
      </select>
</div>

{% for city in cities %}

{% set convertedMount = PaymentsHandler.getConvertedMount(arPriceData.price_value)  %}


<div class="col-md-6 shipping-location-description {{loop.index !=1 ? 'd-none' }}" id="shipping-location-description-{{loop.index}}">
    <div class="card card-body text-center p-0 border-0 h-100">

        {% if city.ship_price.min_shipping_price > 0 and convertedMount < city.ship_price.min_shipping_price %}
            <!-- si tiene precio minimo y el total de la compra no cumple con ese minimo -->
            <div class="alert alert-danger ">
                <span>Disponible para compras desde: <br>
                    <strong>{{city.getMinPrice()}} {{Cart.getCurrencyCode()}}</strong></span>
            </div>
            

        {%elseif city.ship_price.shipping_price > 0  %}
        <div class="alert alert-success h-100">

            <span>Precio delivery: <br> <strong>{{city.getPrice()}} {{Cart.getCurrencyCode()}}</strong></span>
            
        </div> 
             <!-- si tiene precio delivery y el total de la compra es mayor a ese -->
            

        {% else %}
            <div class="alert alert-success h-100">

                <span>Precio delivery: <br> <strong>GRATIS</strong></span>
                
            </div> 

        {% endif %}
        
     </div>
</div>
{% endfor %}

<!--


    Failed to authenticate on SMTP server with username "reservashesperia@gmail.com"
     using 3 possible authenticators. Authenticator LOGIN returned Expected response 
     code 235 but got code "535", with message "535-5.7.8 Username and Password not 
     accepted. Learn more at 535 5.7.8 https://support.google.com/mail/?p=BadCredentials 
     c12sm219758wrw.46 - gsmtp ". Authenticator PLAIN returned Expected response code
      235 but got code "535", with message "535-5.7.8 Username and Password not accepted.
       Learn more at 535 5.7.8 https://support.google.com/mail/?p=BadCredentials 
       c12sm219758wrw.46 - gsmtp ". Authenticator XOAUTH2 returned Expected response
        code 250 but got code "535", with message "535-5.7.8 Username and Password 
        not accepted. Learn more at 535 5.7.8 https://support.google.com/mail/?p=BadCredentials c12sm219758wrw.46 - gsmtp "

-->
