[PaymentsHandler]
==
{% set obCartPositionList = Cart.get() %}

{% set defaultCurrency = PaymentsHandler.getDefaultCurrency() %}

{% if Cart.getCurrencyCode() == "USD" %}
    {% set altCurrencyCode = "USD" %}
{% else %}
    {% set altCurrencyCode = "VES" %}
    
{% endif %}

{% if obCartPositionList.isNotEmpty() %}

<div class="card mb-2">
    <div class="card-body card-body pb-1 pt-3">
        <ul class="order-details">
            
            <li>
                <strong>Total a pagar:</strong> 
                <span style="color: #6bc48d; font-weight: bold;">
                    {{Cart.getTotalPrice()}}{{Cart.getCurrencyCode()}}
                </span>
            </li>
            <li>
                <strong>Equivalente: </strong> {{PaymentsHandler.getSecundaryMount(Cart.getTotalPriceValue, altCurrencyCode)}}
                {{Cart.getCurrencyCode() == "USD" ?  "VES" : "USD" }} <br>
                <strong>Tasa del dia: </strong> {{defaultCurrency.rate}} VES
            </li>
                 
        </ul>
        <hr>
        {% if obOrder.status.code == "new" or obUser.role is not null %}
        <p class="text-center">
            Estás viendo los métodos de pago en <strong>{{obOrder.currency.code}}</strong>,
            para verlos en  {{obOrder.currency.code == "USD" ?  "VES" : "USD" }} haga click <br>
             <button class="btn btn-primary mt-2" id="switchCurrency">Aquí</button>
         </p>
         {% endif %}
    </div>
</div>
<div class="block">
    <div class="products-view" id="cart-resume">
        <div class="products-view__list products-list" data-layout="list" data-with-features="false" data-mobile-grid-columns="2">
            <div class="products-list__body">
                {% for obCartPosition in obCartPositionList %}
    
                {% set obOffer = obCartPosition.offer %}
                <div class="products-list__item">
                    <div class="product-card product-card--hidden-actions ">
                        <div class="product-card__image product-image">
                            <a href="{{ 'single-product'|page({product_id: obOffer.product.id, slug: obOffer.product.slug }) }}" class="product-image__body">
                                <img class="product-image__img" src="{{obOffer.product.preview_image.path}}" alt="">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="{ 'single-product'|page({product_id: obOffer.product.id, slug: obOffer.product.slug }) }}">{{obOffer.product.name}}</a>
                            </div>
                            <div class="product-card__rating">
                                {% if obOffer.quantity == 0 %}
                                <span class="dropcart__product-price sold-out">
                                    AGOTADO
                                </span>
                                {% elseif(obOffer.quantity < obCartPosition.quantity) %}
                                <span class="orange-text">
                                    MODIFICAR CANTIDAD
                                </span>
                                {% else %}
                                <p><strong>Cantidad: </strong> <span> {{obCartPosition.quantity}}</span></p>
                                {% endif %}
                                
                              
                            </div>
                        </div>
                        <div class="product-card__actions">
                            <div class="product-card__availability">
                                Precio: <span class="text-success">{{ obOffer.price  }} {{obOffer.getActiveCurrency()}}</span>
                            </div>
                            <div class="product-card__prices">
                                {{ obCartPosition.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                            </div>
                            <div class="product-card__buttons">
                                <button class="btn btn-primary product-card__addtocart product-card__addtocart--list 
                                product-trigger" data-product-id="{{obCartPosition.offer.product.id}}"
                                data-quantity="{{obCartPosition.quantity}}" type="button">Modificar</button>

                                <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list 
                                remove-from-cart" data-product-id="{{obCartPosition.offer.product.id}}"
                                data-offer-id="{{obCartPosition.offer.id}}" type="button">Eliminar</button> 
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}