[ShippingSettings]
==


{% set selectedShippingType = Cart.getActiveShippingTypeFromRequest() %}

{% if selectedShippingType.id == 1 %}

  {% set mode = "pickup" %}
  
{% else %}

  {% set mode = "delivery" %}

{% endif %}

{% set arTimeBlock = ShippingSettings.getTimeBlocks(mode) %}
<label for="">Elige tramo de hora</label>
<select name="order[property][shipping_time]" id="shippingTime" class="form-control">
  <option value="" selected>Elige hora de entrega/retiro</option>
  {% for dates in arTimeBlock %}
    {% if loop.last == false %}
    <option value="{{dates|date('H:i', 'America/Caracas')}}-{{arTimeBlock[loop.index]|date('H:i', 'America/Caracas')}}">de {{dates|date('g:i a', 'America/Caracas')}} a {{arTimeBlock[loop.index]|date('g:i a', 'America/Caracas')}}</option>
    {% endif %}  
  {% endfor %}
</select>

