[ShippingSettings]
==

{% set allowedDates =  ShippingSettings.getAllowedDates() %}


  <label>Elige fecha de entrega</label>
  <select class="form-control" name="order[property][shipping_date]" id="shipping-date-select" >
      {% for date in  allowedDates %}
        <option value="{{date.format('d-m-Y')}}">{{date.format("d-m-Y")}}</option>
      {% endfor %}
  </select>





