[ShippingTypeList]
==

{% set obShippingTypeList = ShippingTypeList.make().sort().active() %}

{% if obShippingTypeList.isNotEmpty() %}

{% set selectedShippingType = Cart.getActiveShippingTypeFromRequest() %}



    {% for obShippingType in obShippingTypeList %}
        <div class="form-check">
            <input class="form-check-input shipping-type-check" type="radio" name="order[shipping_type_id]"
            value="{{obShippingType.id}}" {{selectedShippingType.id == obShippingType.id ? 'checked'}}>
            <label class="form-check-label">
            {{obShippingType.name}}
            </label>
        </div>
        
    {% endfor %}


{% endif %}