[ZoneList]
==
{% set zones = ZoneList.getZoneList(cityId) %}
{% if zones.count > 0 %}
<div class="col form-group">
  <label for="name">Elige una Zona</label>

  <select class="form-control" name="order[zone_id]">
    {% for zone in zones %}
    <option value="{{zone.id}}">{{zone.name}}</option>
    {% endfor %}
  </select>

</div>

{% else %}
<div class="col form-group">
  <div class="card alert alert-danger alert-danger-border" >
    <div class="card-body pt-1 pb-1">
      Incrementa el monto de tu compra para habilitar el delivery a esta ciudad
    </div>
  </div>
</div>
{% endif %}
