<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i">
<!-- css -->

<script src="{{ [
    
    'assets/vendor/jquery/jquery.min.js',
    
]|theme }}"></script>


<link href="{{ [
    'assets/vendor/bootstrap/css/bootstrap.min.css',
    'assets/vendor/owl-carousel/assets/owl.carousel.min.css',
    'assets/vendor/photoswipe/photoswipe.css',
    'assets/vendor/photoswipe/default-skin/default-skin.css',
    'assets/vendor/select2/css/select2.min.css',
    'assets/vendor/jquery-smartwizard/css/smart_wizard_all.min.css', 
    'assets/vendor/fontawesome/css/all.min.css',
    'assets/vendor/toastr/toastr.min.css',
    'assets/vendor/dropify/css/dropify.min.css',
    'assets/vendor/sweetalert/sweetalert.css',
    'assets/css/style.css',
    'assets/css/custom/site.css',
    'assets/css/custom/farmacorina.css',
    'assets/fonts/stroyka/stroyka.css',
    

]|theme }}" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
{% styles %}

