<script src="{{ [
    'assets/js/custom/commons.js',
    'assets/vendor/bootstrap/js/bootstrap.bundle.min.js',
    'assets/vendor/owl-carousel/owl.carousel.min.js',
    'assets/vendor/nouislider/nouislider.min.js',
    'assets/vendor/photoswipe/photoswipe.min.js',
    'assets/vendor/photoswipe/photoswipe-ui-default.min.js',
    'assets/vendor/select2/js/select2.min.js',
    'assets/vendor/svg4everybody/svg4everybody.min.js',
    'assets/vendor/translator/jqueryTranslator.min.js',
    'assets/vendor/toastr/toastr.min.js',
    'assets/vendor/jquery-smartwizard/js/jquery.smartWizard.min.js',
    'assets/vendor/dropify/js/dropify.min.js',
    'assets/vendor/sweetalert/sweetalert.min.js',
    
    'assets/js/number.js',
    
    'assets/js/header.js',
    'assets/js/dictionary.js',
    'assets/js/moment.js',
    'assets/js/moment-timezone.js',
    'assets/js/moment-timezone-with-data.js',
    

    'assets/js/main.js',
    'assets/js/custom/user.js',
    'assets/js/custom/site.js',
   
]|theme }}"></script>

<script>
    svg4everybody();
</script>