[viewBag]
title = "Home"
url = "/"
layout = "static-layout"
is_hidden = 0
navigation_hidden = 0
meta_title = "Home"
meta_description = "Tu necesidad es nuestro destino"
seo_title = "Home"
seo_description = "Tu necesidad es nuestro destino"
seo_keywords = "supermercado, valencia, carabobo, compras online"
robot_index = "index"
robot_follow = "follow"
==
<figure data-inspector-id="inspectorid-942229620014" data-snippet="slider">&nbsp;</figure>
<div class="block block-banner">
	<figure data-inspector-id="inspectorid-1041365194391" data-property-codes="MO170, 00046, 0082, 0091, 0095" data-property-name="Nuevos" data-snippet="one-row-products-by-external-id">&nbsp;</figure>
	<figure data-inspector-id="inspectorid-1304967697408" data-property-codes="MO170, 00046, 0082, 0091, 0095" data-property-name="Refréscate" data-snippet="one-row-products-by-external-id">&nbsp;</figure>
	<figure data-inspector-id="inspectorid-710399679005" data-property-codes="MO170, 00046, 0082, 0091, 0095" data-property-name="Hay que cuidarse" data-snippet="one-row-products-by-external-id">&nbsp;</figure>
	<figure data-inspector-id="inspectorid-1211310232724" data-property-codes="1-4, 1-6, 1-7, 3-2, 4-2, 5-2" data-property-name="Categorías Populares" data-snippet="categories-by-externalid">&nbsp;</figure>
</div>
<figure data-inspector-id="inspectorid-1368780422472" data-property-codes="MO170, 00046, 0082, 0091, 0095" data-property-name="Más Recientes" data-snippet="one-row-products-by-external-id">&nbsp;</figure>
<figure data-inspector-id="inspectorid-640642187705" data-property-codes="MO170, 00046, 0082, 0091, 0095MO170, 00046" data-property-name="Super Ofertas" data-snippet="7-products-row">&nbsp;</figure>
<figure data-inspector-id="inspectorid-624033138744" data-property-codes="MO170, 00046, 0082, 0091, 0095" data-property-name="Más Vendidos" data-snippet="one-row-products-by-external-id">&nbsp;</figure>
<figure data-inspector-id="inspectorid-1392573787366" data-snippet="block-post">&nbsp;</figure>