[viewBag]
title = "Términos y condiciones"
url = "/terminos-y-condiciones"
layout = "static-layout"
is_hidden = 0
navigation_hidden = 0
meta_title = "Términos y condiciones"
meta_description = "Aprende sobre nuestras políticas y condiciones"
seo_title = "Términos y condiciones"
seo_description = "Aprende sobre nuestras políticas y condiciones"
robot_index = "index"
robot_follow = "follow"
==
<div class="page-header">
	<div class="page-header__container container">
		<div class="page-header__breadcrumb">
			<nav aria-label="breadcrumb">

				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="https://contigo24.net">Home</a></li>
					<li aria-current="page" class="breadcrumb-item active">Términos y condiciones</li>
				</ol>
			</nav>
		</div></div></div>
<div class="block">
	<div class="container">
		<div class="document text-justify">
			<div class="document__header">

				<h2 class="document__title orange-text">Términos y condiciones</h2>
				<div class="document__subtitle">El presente documento describe los términos y condiciones (los “Términos y Condiciones”) que rigen la utilización del sitio en Internet&nbsp;www.contigo24.net&nbsp;(el “Sitio”). Estas condiciones regulan todas las compras realizadas por los consumidores a través de la tienda en línea de&nbsp;CONTIGO24.</div></div>
			<div class="document__content typography">

				<h2>Condiciones generales</h2>

				<p>El usuario del Sitio y el usuario registrado declaran haber leído, estar de acuerdo y someterse a los presentes Términos y Condiciones. Si el Usuario no acepta estos Términos y Condiciones, los cuales tienen un carácter obligatorio y vinculante entre las partes, deberá abstenerse de utilizar el Sitio y/o los Servicios prestados en él. <strong>CONTIGO24&nbsp;</strong>podrá negar o terminar la prestación de los Servicios a quienes no hayan convenido en la anterior declaración. Los usuarios podrán disfrutar del servicio de compra en el sitio <strong>CONTIGO24&nbsp;</strong>las 24 horas del día, los 7 días de la semana.</p>

				<p><strong>CONTIGO24&nbsp;</strong>se encuentra hospedado en una de las plataformas líder en seguridad y confiabilidad para poder garantizar la confidencialidad y seguridad de dicha información. Sin embargo <strong>CONTIGO24&nbsp;</strong>no se hace responsable por cualquier violación o usurpación que pueda sufrir el sistema de seguridad del sitio, por terceras personas, fallas en el sistema, en el servidor, en Internet, o cualquier virus que pudiese alojarse en el sistema.</p>

				<p>Asimismo, <strong>CONTIGO24&nbsp;</strong>tampoco se hace responsable por la obtención por medios ilegales o violaciones del sistema de la información alojada en nuestro servidor, así como del uso que se haga de la misma.</p>

				<p><strong>CONTIGO24&nbsp;</strong>intentará garantizar el uso ininterrumpido y continuado del servicio, sin embargo las consecuencias que se generen con ocasión de fallas en el sistema del mismo o dificultades técnicas u otra razón ajena a la voluntad de <strong>CONTIGO24</strong>, no serán imputables a <strong>CONTIGO24</strong>.</p>

				<p><strong>CONTIGO24&nbsp;</strong>puede, dependiendo el caso, facilitar el acceso a ciertos servicios sin solicitar el Registro de Usuario previa en el Sitio. En dicho caso, <strong>CONTIGO24</strong>, en base a su exclusivo criterio, determinará cuáles Servicios y qué nivel de acceso y uso serán los más apropiados.</p>

				<p><strong>CONTIGO24&nbsp;</strong>podrá premiar y otorgar incentivos a sus Usuarios con motivo de suscripción en su página web, por invitar amigos, o por cualquier otra causa que así se sirva establecer la empresa. Estos incentivos y premios se harán mediante el abono en el balance de los Usuarios de cantidades de dinero establecidas por <strong>CONTIGO24&nbsp;</strong>y conocidas por los Usuarios. Queda expresamente establecido que los abonos realizados a los Usuarios con motivo de incentivos o premios sólo podrán ser utilizadas para la realización de compras en <strong>CONTIGO24&nbsp;</strong>y por ninguna razón podrán ser canjeables por efectivo.</p>

				<p>Realizaremos nuestros mejores esfuerzos para asegurar la disponibilidad, sin interrupciones, de los Servicios de <strong>CONTIGO24</strong>, así como la ausencia de errores en cualquier transmisión de información que pudiera tener lugar. No obstante, y debido a la naturaleza misma de Internet, no es posible garantizar tales extremos. Asimismo, su acceso a los Servicios de <strong>CONTIGO24&nbsp;</strong>pudiera ocasionalmente verse suspendido o restringido a efectos de la realización de trabajos de reparación o mantenimiento, o la introducción de nuevos productos o servicios. Procuraremos limitar la frecuencia y duración de tales suspensiones o restricciones.</p>

				<p><strong>CONTIGO24&nbsp;</strong>no será responsable de (i) cualquier pérdida que no fuera atribuible a incumplimiento alguno por su parte, (ii) pérdidas empresariales (incluyendo lucro cesante, de ingresos, de contratos, de ahorros previstos, de datos, pérdida del fondo de comercio o gastos innecesarios incurridos),ni de (iii) cualesquier pérdida indirecta o de carácter consecuencial que no fuera razonablemente previsible por ambas partes en el momento en que el usuario hubiera comenzado a utilizar los Servicios de <strong>CONTIGO24</strong>. Tampoco seremos responsables de ninguna demora o falta de cumplimiento de nuestras obligaciones derivadas de las presentes condiciones si dicha demora o falta de cumplimiento fuera atribuible a circunstancias ajenas a nuestro control razonable.</p>

				<p>Esta disposición no afecta al derecho del cliente a recibir el producto o la prestación del correspondiente servicio en un plazo razonable, o a recibir productos similares de igual o mayor valor y calidad, en miras de brindarle una solución satisfactoria y cubrir la necesidad de una manera expedita y responsable.</p>

				<p>Nada de lo dispuesto en las presentes condiciones limita o excluye nuestra responsabilidad en caso de falsedad, ni en supuestos de fallecimiento o daños personales atribuibles a nuestra negligencia o dolo.</p>

				<p>No vendemos productos a menores de edad. Los productos para niños que vendemos deben ser comprados por adultos. Los menores de 18 años sólo podrán utilizar los Servicios de <strong>CONTIGO24&nbsp;</strong>bajo la supervisión de un padre o un tutor.</p>

				<h2>Registro de usuarios</h2>

				<p>Cada Usuario creará una cuenta con su correo electrónico (E-Mail) que será el único y unívoco identificativo del Usuario en el Sitio (“Cuenta de Usuario”). Asimismo, cada Usuario creará una contraseña secreta. Una vez que el registro en <strong>CONTIGO24&nbsp;</strong>haya sido realizado con éxito, ingresando el correo electrónico y la contraseña, le permitirá al Usuario visualizar, utilizar y gestionar su cuenta. El Usuario reconoce y acepta que <strong>CONTIGO24&nbsp;</strong>puede procesar todas las transacciones de su cuenta, incluso el registro a otros servicios que hayan sido activados a través de la utilización de su cuenta.</p>

				<p>El Usuario es el único responsable del mantenimiento de la confidencialidad de su correo electrónico y contraseña, y deberá informar inmediatamente y por medio idóneo y fehaciente a <strong>CONTIGO24</strong>, en caso de que advirtiera un uso no autorizado de los mismos, o en caso de problemas de cualquier tipo en materia de seguridad. En ningún caso <strong>CONTIGO24</strong>, ni sus empleados o asociados, serán responsables del uso indebido que el Usuario pudiera hacer de su cuenta.</p>

				<p>Para completar el registro, los Usuarios deberán llenar un formulario electrónico en el que deberán ingresar distintos datos personales los cuales serán utilizados únicamente para verificar la identidad del Usuario, efectos de facturación y para que él mismo pueda utilizar los servicios de <strong>CONTIGO24</strong>.</p>

				<p>El usuario acepta, el uso de sus datos para poder enviarle comunicaciones comerciales personalizadas de <strong>CONTIGO24</strong>. El motivo por el que estaremos legitimados para usar tus datos es el consentimiento que nos prestas al aceptar suscribirte en nuestra plataforma.</p>

				<p><strong>CONTIGO24&nbsp;</strong>no se responsabiliza por la certeza de los Datos Personales provistos por los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.</p>

				<p>Un Usuario no podrá contar con más de una Cuenta de Usuario, la cual es personal, única e intransferible.</p>

				<p>El Usuario dado de alta en <strong>CONTIGO24</strong> autoriza a recoger y utilizar los datos facilitados por éste e incorporarlos en una base de datos de la que <strong>CONTIGO24</strong> es responsable, pudiendo hacer uso de ellos sólo para tratamiento interno.</p>

				<p>Será responsabilidad del Usuario la actualización de sus datos personales en nuestra página en caso de que éstos hayan sufrido cualquier modificación.</p>

				<p><strong>CONTIGO24</strong> almacena de forma encriptada las contraseñas utilizadas por los Usuarios registrados en el Sitio, no teniendo, en ningún caso, acceso a su valor descifrado. En caso de pérdida u olvido, <strong>CONTIGO24</strong> facilitará los medios necesarios para que el Usuario registrado pueda obtener una nueva contraseña.</p>

				<h2>Limitaciones de uso y derecho de autor</h2>

				<p>Usted entiende y acepta que toda la información, datos, textos, software, música, sonido, fotografías, gráficos, audio y vídeo, o cualquier otro elemento presente en este Sitio (en conjunto, el "Contenido") capaz de ser protegido, es propiedad de <strong>CONTIGO24</strong> o sus licenciantes. Se prohíbe el uso de cualquier contenido sin autorización expresa y por escrito de <strong>CONTIGO24</strong> o sus licenciantes, a menos que alguna norma o principio (como el uso justo o el agotamiento) le den derecho a usar estos contenidos sin autorización. Está especialmente prohibido reproducir, distribuir, publicar, descargar, exponer, transmitir o copiar cualquier material en cualquier forma o por cualquier medio sin el permiso previo por escrito de <strong>CONTIGO24</strong> y/o del licenciante correspondiente.</p>

				<p>Se permite la copia y distribución del material de este Sitio sólo para el uso personal y no comercial, siempre que se conserve toda la información relativa a derechos de autor y otros avisos de propiedad contenidos en este material.</p>

				<p>CONTIGO24 señala que el hecho de usar sin autorización cualquier material presente en este Sitio, puede violar las leyes nacionales y/o internacionales de derecho de autor y las leyes de privacidad y publicidad.</p>

				<h2>Reglas de uso</h2>

				<p>Las "Reglas de Uso” se consideran parte integrante y fundamental del presente acuerdo, y el Usuario, al acceder al Sitio, manifiesta estar de acuerdo y acepta de forma incondicional dichas reglas en todas sus partes y sin ninguna excepción. Utilizando los Servicios ofrecidos, el Usuario acuerda y manifiesta haber comprendido completamente las condiciones que reglamentan esta venta de productos, y, por ningún motivo, podrá atribuirse a CONTIGO24 o sus empleados o colaboradores responsabilidad alguna si, el Usuario niega la comprensión de estas reglas.</p>

				<p><strong>CONTIGO24</strong> podrá premiar y otorgar incentivos a sus Usuarios con motivo de su suscripción en su página web, por invitar amigos, o por cualquier otra causa que así se sirva establecer la empresa. Estos incentivos y premios se harán mediante el abono en el balance de los Usuarios de cantidades de dinero establecidas por <strong>CONTIGO24</strong> y conocidas por los Usuarios. Queda expresamente establecido que los abonos realizados a los Usuarios con motivo de incentivos o premios sólo podrán ser utilizadas para la realización de compras en <strong>CONTIGO24</strong> y por ninguna razón podrán ser canjeables por efectivo.</p>

				<h2>Entrega de los productos</h2>

				<p>Los productos se entregarán únicamente en el territorio de la República Bolivariana de Venezuela, ciudad de Valencia parroquia San José Edo. Carabobo. Los productos comprados serán enviados por nuestros vehículos y se entregarán en la dirección predefinida por el Usuario en el momento de registro. El costo del envío se indicará al momento de realizar la compra en línea (“Checkout”), y dependerá del modo elegido y la verificación del pago de la compra.</p>

				<p>Entrega Express este envío es realizado en motos, la cantidad de producto está limitada según el volumen de los mismos, solo calificará para envío express el total de productos que quepa en un solo contenedor para manejo y transporte de la mercancía, y se el tiempo de entrega será hasta de 3 horas.</p>

				<p>Entrega Regular será el día hábil siguiente según el horario y fecha elegido por el usurario.</p>

				<p><strong>CONTIGO24</strong> no será responsable en caso de que la entrega del producto no pueda realizarse por ser la dirección indicada en el módulo de registro incorrecta o incompleta. Es responsabilidad del Usuario mantener actualizados sus propios datos personales y asegurar la veracidad de los mismos.</p>

				<p>Si por cualquier motivo no directamente imputable a <strong>CONTIGO24</strong>, al momento de enviar el producto no hubiera sido efectuado correctamente el pago del importe correspondiente, <strong>CONTIGO24</strong> se reserva el derecho de anular la compra en línea, de manera que el Usuario pierde al derecho de adquisición del producto.</p>

				<p>Las entregas se efectuarán con gastos a cargo del Cliente, siempre que no se den las circunstancias que impliquen envíos gratuitos.</p>

				<h2>Precio, Términos y pago y mercancía</h2>

				<p>La venta al cliente de productos o servicios se realizará por el precio y condiciones ofrecidos en cada caso, los precios de los productos mostrados en nuestro portal ya tienen el IVA incluido.</p>

				<p>Los gastos e impuestos que pudieran devengarse con ocasión de cada operación corren por cuenta del cliente, a quien corresponde su pago.</p>

				<p><strong>CONTIGO24</strong> se reserva el derecho de modificar el precio de los artículos de acuerdo con las condiciones de mercado en la fecha de suministro.</p>

				<p>El pago se realizará con anterioridad al suministro del producto o a la prestación del Servicio, o cuando así se hubiera convenido por escrito, dentro de las 24 horas de la confirmación de su solicitud de pedido. <strong>CONTIGO24</strong> podrá suspender la entrega de los Productos hasta la recepción del pago completo.</p>

				<p><strong>CONTIGO24</strong> garantiza la existencia de todos los productos que ofrece como disponible para la venta inmediata. En casos excepcionales, los mismos en el traslado sufran algún imprevisto de fuerza mayor (maltrato de cajas, humedad, pérdidas y/o robos) por lo cual no se apruebe la entrega al Cliente, <strong>CONTIGO24</strong> hará todo lo posible por contactar al Cliente a la brevedad por teléfono y por correo electrónico, de manera de participarle el inconveniente y ofrecerle una gama de productos similares de igual o mayor valor y calidad, en miras de brindarle una solución satisfactoria y cubrir la necesidad de una manera expedita y responsable. En ningún caso se reembolsará el dinero pagado.</p>

				<p>La venta de productos no se produce hasta que <strong>CONTIGO24</strong> no haya registrado con éxito el cobro. En caso de no tener éxito con el primer intento de cobro (por ej. porque no exista la cuenta indicada o no se disponga de saldo suficiente, o que el número de la tarjeta de crédito sea erróneo o la misma está al límite) tampoco se producirá la venta del producto.</p>

				<h2>Comunicaciones y otros contenidos</h2>

				<p>Un usuario registrado puede publicar, presentar, enviar u ofrecer a <strong>CONTIGO24</strong> sus comentarios, preguntas, sugerencias, ideas y otra información (en conjunto, "Comentarios") en o a través de este Sitio. Los usuarios no registrados pueden publicar, presentar o enviar Comentarios por correo electrónico. Estos Comentarios serán y seguirán siendo propiedad de <strong>CONTIGO24</strong>. Los usuarios que envíen Comentarios se comprometen a ceder a <strong>CONTIGO24</strong> todos los derechos, títulos e intereses de todos los derechos de autor y otros derechos de propiedad intelectual contenidos en cualquier de los Comentarios sin límite de tiempo. Por lo tanto, <strong>CONTIGO24</strong> será el propietario exclusivo de tales derechos, títulos e intereses y no estará sujeto a ninguna limitación de uso, comercial o no, de cualquier de los Comentarios.</p>

				<p><strong>CONTIGO24</strong> no tiene ni tendrá ninguna obligación (1) de mantener la confidencialidad de ninguno de los Comentarios, (2) de pagar ninguna indemnización a los usuarios por ninguno de los Comentarios, ni (3) de responder a ninguno de estos Comentarios.</p>

				<p>Usted acepta que ninguno de sus Comentarios enviados al Sitio viola ningún derecho de terceros, incluyendo los derechos de autor, marca registrada, privacidad u otro derecho personal o de propiedad. Además, usted acepta que ninguno de sus Comentarios enviados al Sitio es o contiene material difamatorio, obsceno, ofensivo o ilegal. Usted es y seguirá siendo el único responsable del contenido de sus Comentarios.</p>

				<h2>Cuenta de usuario</h2>

				<p>Cuando Usted utiliza los Servicios de <strong>CONTIGO24</strong> es responsable de mantener la confidencialidad de los datos de su cuenta y su contraseña, así como de restringir el acceso a su ordenador y a sus dispositivos. En la medida en que así lo permita la legislación aplicable, usted acepta asumir la responsabilidad que proceda por todas las actividades realizadas desde su cuenta o utilizando su contraseña. Usted deberá tomar todas las medidas necesarias a efectos de asegurar y salvaguardar la confidencialidad de su contraseña, y deberá informarnos inmediatamente en caso de que tenga motivos para creer que su contraseña ha sido puesta en conocimiento de un tercero, o si ésta ha sido utilizada de manera no autorizada o es susceptible de serlo. Es su responsabilidad comprobar que lo datos que nos facilita son correctos y completos, viniendo asimismo obligado a informarnos inmediatamente cuando tenga lugar cualquier variación en la información que nos ha facilitado.</p>

				<p>Puede acceder a su información y actualizarla a través del apartado <a href="https://contigo24.net">https://contigo24.net</a> del sitio web.</p>

				<p><strong>CONTIGO24</strong>, guardará en su cuenta todas las direcciones de envío utilizadas por el usuario.</p>

				<p>No podrá utilizar ningún Servicio de <strong>CONTIGO24</strong>: (i) en forma alguna que cause, o pueda causar, daño o perjuicio alguno a cualquiera de los Servicios de <strong>CONTIGO24</strong> o la interrupción del acceso a los mismos; o (ii) para cualquier fin fraudulento, ni a efectos de la comisión de delito alguno u otra actividad ilícita de ningún otro tipo; o (iii) para generar cualquier tipo de molestia, inconveniente o ansiedad en un tercero.</p>

				<p>Nos reservamos el derecho a de negar el acceso al servicio, a cancelar cualquier cuenta y a eliminar o modificar cualquier contenido en caso de que el usuario incumpliera la legislación aplicable, las presentes Condiciones de Uso u otros términos y condiciones o políticas aplicables.</p>

				<h2>Concursos y promociones</h2>

				<p>Cualquier concurso o promoción presentado o publicado en este Sitio se regirá por las normas que regulan tal evento o que se describen en relación con este evento.</p>

				<h2>Descripción de los productos</h2>

				<p><strong>CONTIGO24</strong> describe las características de los productos de la mejor manera posible. Si dichas descripciones contuviesen errores tipográficos o elementos incorrectos, esto no deberá ser considerado como una declaración de <strong>CONTIGO24</strong> sobre las características del producto.</p>

				<p>La información que se encuentra en la página, así como las fotos de los productos son sólo referenciales y se deben tomar como la mejor aproximación al producto real.</p>

				<p>El cliente debe verificar toda la información concerniente al producto (descripción, información adicional y características) antes de tomar su decisión de compra. Las decisiones de compra de los clientes son finales. <strong>CONTIGO24</strong> no aceptará reclamo por mala interpretación de la información presentada o por decisiones de compra basadas en las fotografías mostradas en nuestra página web.</p>

				<p>Hemos tratado de representar con la mayor precisión posible los colores de nuestros productos que aparecen en el Sitio. Sin embargo, como los colores que usted ve dependen de su monitor, no podemos garantizar la exactitud de los colores que aparecen en la pantalla.</p>

				<p>El presente sitio web es propiedad de CONTIGO24, quien es responsable asimismo de su mantenimiento.</p>

				<h2 class="orange-text">Políticas de privacidad CONTIGO24</h2>

				<h4>Nuestro compromiso con su privacidad</h4>

				<p>Según lo establecido en la Ley de protección de datos personales, <strong>CONTIGO24</strong> se regirá por la aplicación armónica e integral de los siguientes principios:</p>

				<p>Principio de legalidad en el tratamiento de datos personales: El tratamiento de datos personales es una actividad reglada que debe sujetarse a lo establecido en ella y en las demás disposiciones que la desarrollen.</p>

				<p>Principio de finalidad: El tratamiento de los datos personales debe obedecer a una finalidad legítima de acuerdo con la Constitución y la ley, la cual debe ser informada al Titular.</p>

				<p>Principio de libertad: El tratamiento de los datos personales sólo puede ejercerse con el consentimiento, previo, expreso e informado del Titular. Los datos personales no podrán ser obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que releve el consentimiento.</p>

				<p>Principio de veracidad o calidad: La información sujeta a tratamiento debe ser veraz, completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos parciales, incompletos, fraccionados o que induzcan a error.</p>

				<p>Principio de transparencia: En el tratamiento de los datos personales debe garantizarse el derecho del Titular a obtener del responsable del tratamiento o del Encargado del tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan.</p>

				<p>Principio de transparencia: En el tratamiento de los datos personales debe garantizarse el derecho del Titular a obtener del responsable del tratamiento o del Encargado del tratamiento, en cualquier momento y sin restricciones, información acerca de la existencia de datos que le conciernan.</p>

				<p>Principio de seguridad: La información sujeta a tratamiento por el responsable del tratamiento, se deberá manejar con las medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.</p>

				<p>Principio de confidencialidad: Todas las personas que intervengan en el tratamiento de datos personales que no tengan la naturaleza de públicos están obligadas a garantizar la reserva de la información, inclusive después de finalizada su relación con alguna de las labores que comprende el tratamiento, pudiendo sólo realizar suministro o comunicación de datos personales cuando ello corresponda al desarrollo de las actividades autorizadas en la Ley y en los términos de esta.</p>

				<p>Principio de acceso y circulación restringida: El tratamiento se sujeta a los límites que se derivan de la naturaleza de los datos personales, de las disposiciones de la Ley y la Constitución. En este sentido, el tratamiento sólo podrá hacerse por personas autorizadas por el Titular y/o por las personas previstas en la mencionada ley.</p>

				<h2>Derechos de los titulares</h2>

				<p>Principio de seguridad: La información sujeta a tratamiento por el responsable del tratamiento, se deberá manejar con las medidas técnicas, humanas y administrativas que</p>

				<p>En cumplimiento de las garantías fundamentales consagradas en la Constitución y la ley, y sin perjuicio de lo dispuesto en las demás normas que regulen la materia, los Titulares de los datos personales podrán ejercer de forma gratuita e ilimitadamente los siguientes derechos:</p>

				<p>Derecho al acceso a su información personal objeto de tratamiento.</p>

				<p>Derecho a la actualización de los datos personales objeto de tratamiento.</p>

				<p>Derecho a la rectificación de los datos personales objeto de tratamiento.</p>

				<p>Derecho de oposición a que los datos personales sean objeto de tratamiento.</p>

				<p>Derecho a solicitar la supresión de los datos personales cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.</p>

				<p>Derecho a solicitar prueba de la autorización otorgada para el tratamiento.</p>

				<p>Derecho a revocar el consentimiento para el tratamiento de los datos personales.</p>

				<p>Derecho a presentar quejas y reclamos ante la Superintendencia de Industria y Comercio por infracciones a lo dispuesto en la Ley y las demás normas que la modifiquen, adicionen o complementen.</p>

				<p>Derecho a ser informado por parte del responsable y/o Encargado del uso y tratamiento que se les dará a los datos personales, así como de las modificaciones y actualizaciones de las políticas de protección, medidas de seguridad y finalidades.</p>

				<p class="font-italic">INFORMACIÓN PERSONAL</p>

				<p class="font-italic">¿Qué tipo de Información Personal recolectamos?</p>

				<p><strong>“Información Personal”&nbsp;</strong>es toda aquella información que lo identifica como individuo o la información que una vez combinada pueda crear un perfil de usted como tal, ya sea completo o parcial.</p>

				<p>La recolección de datos personales de usuarios potenciales y usuarios de <strong>CONTIGO24</strong> se realizará de las siguientes formas:</p>

				<p>
					<br>
				</p>

				<ul>
					<li>Mediante el almacenamiento automático de los datos de los usuarios que acceden a la plataforma de <strong>CONTIGO24</strong> por el uso de cookies. Un ejemplo de los datos que se pueden almacenar automáticamente son las URL, el navegador utilizado, dirección IP entre otros.</li>
					<li>Mediante el envío de mensajes de texto (SMS), mensajes In-App y mensajes a través de aplicaciones de mensajería instantánea.</li>
					<li>Mediante el intercambio de correos electrónicos.</li>
					<li>A través del acceso a páginas Web de la compañía.</li>
					<li>A través del acceso a la aplicación, creando el usuario y contraseña.</li>
					<li>A través de llamadas telefónicas.</li>
					<li>Mediante eventos realizados por <strong>CONTIGO24.</strong></li>
					<li>Mediante las transmisión o transferencia por parte de Aliados estratégicos.</li>
					<li>Mediante encuestas realizadas a través de la Plataforma.</li>
				</ul>

				<p>
					<br>
				</p>

				<h2>Como usamos tu información personal</h2>

				<p>La recolección, almacenamiento, uso y/o circulación de los datos personales de usuarios de <strong>CONTIGO24</strong> tiene como finalidad principal prestar los servicios ofrecidos y/o contratados de forma adecuada y con una excelente calidad. Sin embargo, para poder desarrollar el objeto social de la empresa, de igual forma se podrá hacer el tratamiento de los datos para las siguientes finalidades:</p>

				<p>
					<br>
				</p>

				<ul>
					<li>Ordenar, catalogar, clasificar, dividir o separar y almacenar los datos personales dentro de los sistemas y archivos de <strong>CONTIGO24.</strong></li>
					<li>Creación y administración de la cuenta del usuario.</li>
					<li>Prestar el mantenimiento, desarrollo y/o control de la relación comercial entre el Titular del dato personal y <strong>CONTIGO24.</strong></li>
					<li>Proveer a los usuarios de la información necesaria, a través de la página Web y aplicación, sobre los productos de los oferentes, para formalizar la relación de consumo de dichos productos.</li>
					<li>Realizar procesos al interior de la empresa, con fines de desarrollo operativo y/o de administración de sistemas.</li>
					<li>Prestar los servicios de la empresa y realizar el seguimiento de acuerdo con las necesidades particulares del usuario, con el fin de brindar los servicios y productos adecuados para cubrir sus necesidades específicas.</li>
					<li>Realizar el envío de información de novedades, noticias, boletines, foros de educación, publicidad o marketing, ventas a distancia. Haciendo uso de medios tales como, correo electrónico, notificaciones PUSH, mensajes de texto (SMS), ofertas de productos y/o servicios encontrados en la página web y la aplicación.</li>
					<li>Llevar un registro histórico de la información, con fines de satisfacción al usuario desarrollando análisis sobre los intereses y necesidades; brindando de esta manera un mejor servicio.</li>
					<li>Realizar estrategias de mercado mediante el estudio del comportamiento del usuario frente a las ofertas y con ello mejorar en su contenido, personalizando presentación y servicio.</li>
					<li>Elaboración de prospecciones comerciales y segmentación de mercados.</li>
					<li>Realizar encuestas de satisfacción y ofrecimiento o reconocimiento de beneficios propios de nuestro programa de lealtad y servicio postventa, para calificar el servicio y la atención por medio de los canales dispuestos para ello.</li>
					<li>Adelantar las actividades necesarias para gestionar las solicitudes, quejas y reclamos de los usuarios de la empresa o tercero; y direccionarlos a las áreas responsables de emitir las respuestas correspondientes.</li>
					<li>Presentar reportes ante las autoridades de inspección, vigilancia y control, y tramitar los requerimientos realizados por entidades administrativas o judiciales.</li>
					<li>Usos administrativos, comerciales y de publicidad que se establezcan en los acuerdos suscritos con los clientes Titulares de la información.</li>
					<li>Gestión contable, económica, fiscal y administrativa de clientes.</li>
					<li>Tener acceso a centrales de riesgo para conocer los estados financieros de los clientes.</li>
					<li>Conservación de la información por los términos establecidos en la Ley, especialmente el referente a la información de los libros y papeles del comerciante que deberá ser almacenada por un período de diez (10) años, según lo dispone la Ley.</li>
					<li>Transferencia o transmisión de datos nacional o internacionalmente a proveedores con los que <strong>CONTIGO24</strong> desarrolle actividades en cumplimiento de su objeto social. Asimismo, se podrá hacer transferencia a los aliados estratégicos de la empresa para que ejecuten actividades de marketing, publicidad y promociones asociadas con el objeto social; todo de acuerdo con las disposiciones de la normativa americana.</li>
					<li>Remitir información a los Encargados del tratamiento para facilitar y mejorar la calidad del servicio de <strong>CONTIGO24.</strong></li>
					<li>Reportes a centrales de riesgo por incumplimiento de las obligaciones financieras derivadas de la relación comercial.</li>
					<li>Solicitar la autorización de cobro ante las entidades definidas y autorizadas para ello.</li>
				</ul>

				<p>
					<br>
				</p>

				<p>De llegarse a presentar otro tipo de finalidades en el tratamiento de datos personales se solicitará la autorización previa, expresa e informada del Titular.</p>

				<h2>Autorización y consentimiento del titular</h2>

				<p>El consentimiento y autorización por parte del Titular de la información es un requisito constitucional y legal que deben cumplir las personas responsables del tratamiento de datos personales. El consentimiento debe cumplir con los siguientes presupuestos:</p>

				<p><strong>Previo:</strong> La autorización debe darse antes de proceder con el tratamiento.</p>

				<p><strong>Expreso:</strong> La autorización debe otorgarse de forma inequívoca, clara y específica.</p>

				<p><strong>Informado:</strong> El Titular debe comprender claramente para qué serán tratados sus datos personales y los efectos que pueden derivarse del tratamiento de estos.</p>Todos los visitantes de las Plataformas de <strong>CONTIGO24</strong> deben registrarse y autorizar el tratamiento de los datos personales para poder hacer uso de los servicios ofrecidos. Por tanto, en cada uno de los sistemas se encuentra una casilla que dice “Política de privacidad y Tratamiento de Datos Personales” la cual debe ser leída y aceptada para poder continuar con el uso de los servicios de <strong>CONTIGO24.</strong>

				<h2>Autorización y consentimiento del titular</h2>

				<p>En desarrollo de la garantía constitucional de Habeas Data respecto de los derechos de acceso, actualización, rectificación y supresión por parte del Titular de los datos personales, sus causahabientes, representantes legales y/o apoderados, <strong>CONTIGO24</strong> habilitará canales de acceso para los Titulares.</p>

				<p>Todas las comunicaciones, consultas, quejas y/o reclamos deberán ser dirigidas al Oficial de Protección de Bases de Datos Personales o ATENCIÓN AL CLIENTE <strong>CONTIGO24</strong>, por cualquiera de los siguientes medios:</p>

				<p>Vía electrónica: Al correo electrónico: atencionalclinete@contigo24.net o a través del Chat Online en el sitio Web.</p>

				<h2>Autorización y consentimiento del titular</h2>

				<p><strong>CONTIGO24</strong> no recolectará, almacenará o tratará datos sensibles, a menos que sea estrictamente necesario. De presentarse dicha situación, no realizará ningún tratamiento sin la debida autorización previa, informada y expresa del Titular de la información, salvo en los casos que por ley no sea requerido el otorgamiento de esta y se presente alguna de las siguientes excepciones:</p>

				<p>
					<br>
				</p>

				<ul>
					<li>Cuando el tratamiento sea necesario para salvaguardar el interés vital del Titular y este se encuentre física o jurídicamente incapacitado.</li>
					<li>Cuando el tratamiento sea efectuado en el curso de las actividades legítimas y con las debidas garantías por parte de una fundación, ONG, asociación o cualquier otro organismo sin ánimo de lucro, cuya finalidad sea política, filosófica, religiosa o sindical, siempre que se refieran exclusivamente a sus miembros o a las personas que mantengan contactos regulares por razón de su finalidad, en cuyos casos, los datos no se podrán suministrar a terceros sin la autorización del Titular.</li>
					<li>Cuando el tratamiento se refiera a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un derecho en un proceso judicial.</li>
					<li>Cuando el tratamiento tenga una finalidad histórica, estadística o científica. En este evento deberán adoptarse las medidas conducentes a la supresión de identidad de los Titulares.</li>
					<li>Las respuestas a las preguntas sobre datos sensibles son facultativas, por lo tanto, no serán obligatorias.</li>
				</ul>

				<p>
					<br>
				</p>

				<p>No podrá realizarse el tratamiento de datos sensibles para fines distintos de los autorizados expresamente por el Titular.</p>

				<p>El acceso, circulación y tratamiento de datos sensibles será restringido, limitado y con medidas de seguridad rigurosas de acuerdo con lo establecido por la normatividad vigente.</p>

				<h2>Tratamiento de datos personales de niños, niñas y/o adolescentes</h2>

				<p><strong>CONTIGO24</strong> procurará no realizar ningún tratamiento sobre datos de niños, niñas y adolescentes menores de 18 años. El uso de la plataforma solo es para mayores de edad. Sin embargo, en caso de que los menores de 18 años con capacidad jurídica quieran usar el servicio deberán contar la autorización expresa por parte de su representante legal.</p>

				<p>De presentarse el tratamiento de datos de menores de edad, <strong>CONTIGO24</strong> garantizará, como responsable del Tratamiento, que dichos datos personales serán tratados adecuadamente, aplicando los principios y obligaciones establecidos en la Ley y demás disposiciones sobre protección de bases de datos personales vigentes.</p>

				<p>El tratamiento de datos personales de niños, niñas y adolescentes tendrá un tratamiento especial y unas medidas rigurosas para su protección. Aquellos datos que no sean de naturaleza pública cumplirán con los siguientes parámetros y requisitos:</p>

				<p>
					<br>
				</p>

				<ul>
					<li>Responderá y respetará el interés superior de los niños, niñas y adolescentes.</li>
					<li>Se asegurará el respeto de los derechos fundamentales de los niños, niñas y adolescentes.</li>
					<li>Se valorará la opinión del menor cuando éste cuente con la capacidad y autonomía debidas para entender el asunto.</li>
				</ul>

				<p>
					<br>
				</p>

				<p>En todo caso, corresponderá a los representantes legales de los niños, niñas y adolescentes otorgar la autorización para proceder con el Tratamiento de los datos personales de los menores, si no se cuenta con la autorización del representante no se hará tratamiento de estos y no se le podrá prestar el servicio al menor.</p>

				<h2>Transmisión y/o transferencia nacional o internacional</h2>

				<p><strong>CONTIGO24</strong> podrá compartir la información de los datos personales con aquellos terceros que sea necesario para el desarrollo de sus actividades y objeto social, siempre protegiendo los derechos e información del titular del dato.</p>

				<p>La Transmisión o Transferencia de Datos Personales que se realice observará las reglas que para tal efecto disponga la normatividad aplicable y la autoridad de control, especialmente las siguientes:</p>

				<p>
					<br>
				</p>

				<ul>
					<li>Cuando se trate de transmisiones o transferencias nacionales de datos personales, <strong>CONTIGO24</strong> se asegurará del cumplimiento de las exigencias de la legislación de protección de datos vigente y las medidas de protección por parte del encargado o nuevo responsable, según sea el caso.</li>
					<li>De tratarse de una transferencia internacional se deberá asegurar que el país receptor de los datos personales proporciona niveles adecuados de protección, de la forma que establezca la Autoridad de Control en Estados Unidos, para que la misma profiera la declaración de conformidad a la Ley. Cuando el país receptor no cumpla con los estándares adecuados de protección de datos, la transmisión o transferencia quedará prohibida a menos que se configure alguna de las siguientes excepciones legales:</li>
					<li>
						<br>

						<ol>
							<li>Que el Titular haya dado autorización expresa e inequívoca para la transferencia o transmisión de datos.</li>
							<li>Intercambio de datos de carácter médico cuando así lo exija el tratamiento del Titular por razones de salud e higiene pública.</li>
							<li>Transferencias bancarias o bursátiles, conforme a la legislación que les resulte aplicable.</li>
							<li>Transferencias acordadas en el marco de tratados internacionales en los cuales Venezuela sea parte, con fundamento en el principio de reciprocidad</li>
							<li>Transferencias necesarias para la ejecución de un contrato entre el Titular y el responsable del tratamiento, o la ejecución de medidas precontractuales siempre y cuando se cuente con autorización del Titular.</li>
						</ol>
					</li>
				</ul>

				<p>
					<br>
				</p>

				<h2>Vigencia</h2>

				<p>Los Datos Personales que sean almacenados, utilizados o transmitidos permanecerán en las bases de datos de <strong>CONTIGO24</strong> durante el tiempo que sea necesario para cumplir con las finalidades expuestas en este manual o para que la Empresa pueda cumplir con sus deberes legales.</p>

				<p>Sin embargo, la información será revisada cada año para verificar la veracidad del dato y finalidad de seguir con su tratamiento.</p>

				<p>De ser necesario <strong>CONTIGO24</strong> se reserva el derecho a modificar la presente Política de forma unilateral.</p>

				<p>El presente sitio web es propiedad de <strong>CONTIGO24</strong>, quien es responsable asimismo de su mantenimiento.</p>

				<h1 class="orange-text">Políticas de devolución CONTIGO24</h1>

				<h2>Renuncia/Devolución</h2>

				<p>No se aceptarán devoluciones por reembolso de dinero. Los productos devueltos por daños causados en el envío o por mala calidad serán reemplazados por productos nuevos, iguales al devuelto y en perfecto estado. Una vez realizada una orden de compra, ésta no podrá ser cancelada bajo ningún concepto.</p>

				<p>El Usuario tiene derecho a reclamar el mal estado o defectuosidad del artículo recibido o la recepción de un producto que no coincida con lo especificado en la descripción del producto comprado, al momento de recibir el pedido.</p>

				<p>El reclamo de este tipo de incidentes deberá realizarse al momento de recibir el pedido, el despachador reportara de manera inmediata el reemplazo de los artículos reportados a través del sistema y el usuario firmara ya aceptara el reclamo del pedido.</p>

				<p>En caso de que el artículo presente desperfectos causados por un uso indebido del mismo, será inviable la sustitución del mismo.</p>

				<h2>Indemnización</h2>

				<p><strong>CONTIGO24</strong> será plenamente responsable de los actos intencionales y de negligencia grave. En caso de negligencia leve, la responsabilidad de <strong>CONTIGO24</strong> se limitará a los daños típicos y previsibles. Las limitaciones o exclusiones de responsabilidad en virtud de esta cláusula no se aplicarán a las reclamaciones basadas en leyes de responsabilidad del producto, ni a los daños causados a la vida, cuerpo o salud, o si <strong>CONTIGO24</strong> ha dado una garantía de calidad.</p>

				<p>Si la responsabilidad de <strong>CONTIGO24</strong> está excluida o limitada, dicha exclusión o limitación se aplicará también a la responsabilidad personal de los empleados, representantes o auxiliares ejecutivos.</p>

				<p>El comprador deberá indemnizar a <strong>CONTIGO24</strong>, sus empleados, representantes, agentes y auxiliares ejecutivos por cualquier responsabilidad frente a terceros, derivada de cualquier incumplimiento culpable del contrato por parte del comprador.</p>

				<p>El comprador indemnizará <strong>CONTIGO24</strong> y las personas mencionadas anteriormente por todos los gastos de defensa necesario y razonable.</p>

				<p>Si cualquier condición o parte de estas Condiciones Generales fuese o deviniese inválida, esto no afectará a la validez del resto de Condiciones Generales. La cláusula inválida será sustituida por otra válida que sea lo más próxima posible al espíritu y finalidad de la cláusula inválida. Lo mismo sucede en caso de vacío legal.</p>

				<p>Las presentes condiciones se regirán e interpretarán de conformidad con las leyes vigentes en la República Bolivariana de Venezuela y los convenios internacionales suscritos por ella. Ambas partes acordamos someternos a la jurisdicción no exclusiva de los tribunales de la República Bolivariana de Venezuela, lo que significa que usted podrá reclamar sus derechos como consumidor en relación con las presentes Condiciones de Uso en Venezuela.</p>

				<p>El presente sitio web es propiedad de <strong>CONTIGO24</strong>, quien es responsable asimismo de su mantenimiento.</p>
			</div></div></div></div>