
.topbar{
    background: #16587E;
}

.site-header, .mobile-header__panel, .site__footer {
 
    background: #1281C3;
   
}

.topbar {
    border-bottom: 1px solid #1281C3;
    color: #fff;
}



.nav-panel {
    /*background: #4e90cc;*/
    background: #1281C3;
}

.departments__body {
    box-shadow: 0 1px 5px rgb(163 163 163 / 40%);
}

.btn-primary{
    background: #339933;
    border: 0;
}
.btn-primary:hover{
    background: #125112;
}

.btn-secondary{
    background: #4e90cc;
    border: 0;
    color: #fff;
}

.btn-secondary:hover{
    background: #37629c;
    color: #fff;
}

.product__actions .btn-primary{
    height: calc(2.75rem + 2px);
    line-height: 1.25;
}

.departments__body {
    border-radius: 4px;
}

.nav-links__item-body {
    padding: 0px 20px;
}

.site-header__nav-panel, .nav-panel {
    height: 65px;
}
.site-header__phone-title {
    color: #fff
}

.site-header__logo {
    width: 200px;
}

[dir=ltr] .site-header__logo {
    margin-right: 45px;
}
.search__border{
    border-radius: 4px;

}


.departments__links::-webkit-scrollbar-track
{
	
	background-color: #F5F5F5;
}

.departments__links::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.departments__links::-webkit-scrollbar-thumb
{
	background-color: #125112;
	//border: 2px solid #555555;
}

.departments__item-link {
    padding: 11px 16px;
}  

.site-header__phone-number {
    font-size: 17px;
    font-weight: 700;
}

.indicator__value {
    background: #dc3545;
    color: #fff;
}

body{
    font-family: 'Poppins', 'Roboto';
}

.site__footer{
    color: #fff;
}
.site-footer{
    border-top: 0px;
}

.site-footer__bottom {
    border-top: 0px;
}

.site-footer__copyright a{
    color: #f1632b;
    font-weight: 600;
}

[dir=ltr] .footer-contacts__icon {
    margin-right: 10px;
}

.footer-links{
    //margin-left: 60px;
}

.sw>.nav .nav-link {
    padding: .5rem .5rem;
}

.product-card__prices, .dropcart__product-price  {
    font-weight: 500;
}

.products-list[data-layout="list"] .product-card .product-card__prices {
    font-size: 14px;
}

.dropcart__product-info .btn-sm{
    padding: 0.375rem 0.75rem;
}
.block-banner__title {
    padding-top: 51px;
}

.block-banner__body {
    color: #fff;
    height: 230px;
}

.block-banner__body:hover {
    color: #fff;
}

.h-100{
    height: 100%;
}

.green-text{
    color: #6bc48d;
}
.grey-1-text{
   color: #72809d;
}
.orange-text{
    color: #f1632b;
}
.custom-availability{
    font-size: 14px;
}
.sold-out{
    padding: 4px 10px;
    color:#fff;
    background-color: #ff2626;
    border-radius: 7px;
}

.session-indicator {
    height: 10px;
    font-size: 10px;
    padding: 0 5px;
    border-radius: 100%;
    position: relative;
    top: 5px;
    right: 5px;
    background: greenyellow;
    color: #3d464d;
    font-weight: 700;
}



.products-list[data-layout="grid-3-sidebar"] .product-card .product-card__buttons .btn, .products-list[data-layout="grid-4-full"] .product-card .product-card__buttons .btn {
    font-size: .875rem;
    height: calc(1.5em + .75rem + 3px);
    line-height: 1.25;
    padding: .375rem 1rem;
    font-weight: 500;
}

.alert-danger-border{
    background-color: #fff;
    border-color: #f5c6cb;
}

#payment-collapse{
    margin-top: 50px;
}
.page-item.active .page-link {
    background: #000;
}

@media (max-width: 767px){
    .block-banner__title {
    padding-top: 40px;
    line-height: 1.1;
    }
}

@media (max-width: 767px){
    .block-banner__button {
        padding-top: 0px;
    }
}

@media (max-width: 767px){
    .block-banner__text {
        padding-top: 0;
    }
}

.order-details{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.products-list[data-layout="grid-5-full"][data-mobile-grid-columns="2"] .product-card--hidden-actions .product-card__buttons {
    display: none;
  }
  .products-list[data-layout="grid-5-full"][data-mobile-grid-columns="2"] .product-card--hidden-actions:hover {
    position: relative;
    z-index: 3;
    margin-bottom: -50px;
  }
  .products-list[data-layout="grid-5-full"][data-mobile-grid-columns="2"] .product-card--hidden-actions:hover .product-card__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }



