#shippingTime option:disabled{
    color:#eee;
}

.product-tabs__content{
    padding: 10px 10px;
}

.dropify-wrapper .dropify-message p {
    font-size: 1.2rem;
}
#order-resume, #order-statuses-container{
    margin-top: 50px;
}


.new-status{
    background-color: #f1c40f;
}

.in_progress-status{
    background-color: #2980b9;
}
.complete-status{
    background-color: #27ae60;
}
.canceled-status{
    background-color: #c0392b;
}
.shipping-status{
    background-color: #9b59b6;
}
.time-out-status{
    background-color: #95a5a6;
}

.pending-cash-status{
    background-color: #f39c12;
}

.card-table {
    font-size: 13px;
}

[dir=ltr] .card-table th:first-child, [dir=ltr] .card-table td:first-child {
    padding-left: 1rem;
}

[dir=ltr] .card-table th:last-child, [dir=ltr] .card-table td:last-child {
     padding-right: 1rem; 
}




