[Login]
mode = "ajax"

[Logout]

[Cart]

[CurrencyList]

[ProductHandler]

[SearchHandler]
mode = "query"
search_param = "{{ :q }}"

[SeoCmsPage]

[formSubscribe]
urlToUnsubscribe = "unsubscribe"
urlToProfile = "subscriber-profile"
geo = "enabled"
thanksMessage = "Thanks for subscribe!"
errorMessage = "Email already exists!"
==
<!DOCTYPE html>
<html lang="es" dir="ltr">

    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NJL326M');</script>
        <!-- End Google Tag Manager -->

        <link rel="icon" type="image/png" href="{{'images/farmalacorina-favicon.png'|media}}">
        <meta name="author" content="contigo24.net">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="format-detection" content="telephone=no">
        {% if seo_props %}
        
            {% partial "misc/dynamic-seo" %}

         {% else %}

         {% component 'SeoCmsPage' %}

        {% endif %}

        <!-- fonts -->
        {#
            <script src="https://code.jquery.com/git/jquery-3.x-git.min.js"></script>
            #}
    
        {% partial 'assets/headers'%}

        
        
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJL326M"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/615ce6bb25797d7a890281b9/1fh9eak8a';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->
        <div class="site">
            <!-- mobile site__header -->
            <div id="mobile-header-container">
                {% partial 'mobile-header' %}
            </div>
            
            <!-- mobile site__header / end -->
             <!-- desktop site__header -->
             <div id="desktop-header-container">
                {% partial 'desktop-header'%}
             </div>
            
             <!-- desktop site__header / end -->
             <div class="site__body">

                {% page %}

                <div class="dropcart dropcart--style--offcanvas">
                    <div class="dropcart__backdrop"></div>
                    <div class="dropcart__body" id="cart-container">
                        
                        {% partial 'cart' %}
                        
                    </div>
                </div>

             </div>
            
             {% partial 'footer' %}

             <!-- quickview-modal -->
            <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content"></div>
                </div>
            </div>
            <!-- quickview-modal / end -->
        </div>
        {% partial 'assets/scripts' %}
        {% framework extras %}
        {% scripts %}
    </body>

</html>