title = "blog-category"
layout = "default"
url = "/blog/category/:slug"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No se encontraron publicaciones."
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog"
==
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="">Breadcrumb</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Latest News</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Latest News</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% partial 'blog/post-list' posts = posts %}
        </div>

        <div class="col-12 col-lg-4">
            {% partial 'blog/our-blog' %}
                            
            {% partial 'blog/main-categories' blogCategories = blogCategories %}
        </div>
    </div>
</div>