url = "/carrito"
layout = "default"
title = "cart"

[MakeOrder]
mode = "ajax"
flash_on = 1
redirect_on = 0

[PaymentMethodList]

[CatalogBreadcrumbs]

[ContactHandler]

[ShippingTypeList]

[UserAddress]

[BackendUserHandler]

[CityList]
search_parameter = "CA"
scope = "state"
type = "code"

[PaymentsHandler]
code = "null"
type = "slug"

[UserData]
==
{% set phoneCodes = ContactHandler.getPhoneCodes() %}
{#
    {% set obUser = BackendUserHandler.getBackendUser() %}
#}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ 'index'|staticPage }}">Home</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Carrito</li>
                </ol>
            </nav>
        </div>
        <div class="page-header__title">
            <h1>Carrito</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="d-none d-md-none d-lg-block ">
                <div class="" id="cart-product-list-container">
                
                {% partial 'cart/product-list' %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" id="cart-wizard-container">
            
            {% partial 'cart/cart-wizard' %}
            
        </div>
    </div>
    
    
</div>