url = "/categoria/:slug"
layout = "default"
title = "category"

[CatalogBreadcrumbs]

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 0
smart_url_check = 0
has_wildcard = 0
skip_error = 0

[ProductList]
sorting = "price|asc"

[BrandList]

[SeoCmsPage]
==
<?php
function onStart(){

    use Lovata\Shopaholic\Models\Category;

    $this["obCategory"] = $property = Category::where("slug", $this->param('slug'))->first();
    
}

function onEnd(){
  if($this["obCategory"]){
      if($this["obCategory"]->preview_image){
      $image = $this["obCategory"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => $this["obCategory"]->name,
        "descripcion" => $this["obCategory"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://contigo24.net/categoria/".$this["obCategory"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>

==
{% set obCategory = CategoryPage.get() %}
{% set arBreadcrumbs = CatalogBreadcrumbs.getByCategoryID(obCategory.id) %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id, true) %} 

{% if obProductList.count == 0 %}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id, true) %} 
{% endif %}
<div class="container mt-4">
    <div class="row pb-4">
        <div class="w-100 d-flex justify-content-center">
        <img src="{{obCategory.preview_image.path}}" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>{{obCategory.name}}</h4>
        </div>
        <div class="col-12">
            
            {% partial 'products/search-results.htm' obProductList = obProductList %}
            
        </div>
    </div>
    <div class="block block-sidebar block-sidebar--offcanvas--always">
        <div class="block-sidebar__backdrop"></div>
        <div class="block-sidebar__body">
            <div class="block-sidebar__header">
                <div class="block-sidebar__title">Filters</div>
                <button class="block-sidebar__close" type="button">
                    <svg width="20px" height="20px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#cross-20"></use>
                    </svg>
                </button>
            </div>
            
            {% partial 'products/search-filters' obProductList = obProductList obCategory = obCategory %}
        </div>
    </div>
</div>


{#
    Envíos 24/7
    24h a tu servicio

    Delivery gratis
    En la gran Valencia

    100% Seguro
    Paga como quieras

    Grandes ofertas
    Los mejores precios
    
#}