title = "error"
layout = "default"
url = "/error"
meta_title = "Ha ocurrido un error"
meta_description = "Intenta realizar tu acción más tarde"
==
<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Vaya, ha ocurrido un <span class="orange-text">error</span>
            </div>
            <div class="not-found__content">
                <h1 class="not-found__title">Esto no suele pasar, pero no te preocupes</h1>
                <p class="not-found__text">
                  Intenta realizar la acción anterior nuevamente
                </p>
               
                <p class="not-found__text">
                    Si el problema persiste escribe a nuestro chat
                </p>
                <a class="btn btn-secondary btn-sm" href="{{'index'|staticPage}}">Volver al home</a>
            </div>
        </div>
    </div>
</div>