url = "/orden/:slug"
layout = "default"
title = "order"

[OrderPage]
slug = "{{ :slug }}"
slug_required = 0

[PaymentsHandler]
code = "{{ :slug }}"
type = "slug"

[form]

[OrdersHandler]
code = "{{ :slug }}"
type = "slug"

[BackendUserHandler]

[UserData]

[MerchantHandler]
==
<?php
function onEnd(){
    $this->addJs([
     'assets/vendor/jquery.countdown/jquery.countdown.min.js',
     ]);
   
    
   }
?>
==
{% set obOrder = OrderPage.get() %}

<div class="container">
    <div class="row">
        {% set obUser = BackendUserHandler.getBackendUser() %}

        {% if obUser is  null %}
        
            {% set obUser = UserData.get %}
        {% endif %}


        
        {% if obUser is not null %}
        
        <div class="col-md-6 col-sm-12">
            
            <div class="d-xs-block d-md-none">
                {% partial 'order/order-status-messages' obOrder = obOrder %}

            </div>
            
            <div class="">
                <div class="" id="cart-product-list-container">
                    {% partial 'order/order-resume' obOrder = obOrder %}
                  </div>
            </div>
            
            
        </div>
        <div class="col-md-6 col-sm-12">
            {% if (obOrder.status.id == 1 and obOrder.isAvailableToPay ()) %}
                {#
                {% partial 'payment-methods/payment-tabs'  obOrder = obOrder %}
                #}
                {% partial 'payment-methods/payment-collapse' obOrder = obOrder %}
            {% else %}
            <div class="d-none d-md-none d-lg-block ">
                {% partial 'order/order-status-messages' obOrder = obOrder %}
            </div>
                

            {% endif %}
        </div>
        
        {% else %}

            {% partial 'login-message' %}
        
        
        {% endif %}
        
    </div>
</div>