title = 404
layout = "default"
url = "/404"
meta_title = "Pagina no encontrada"
meta_description = "No hemos podido encontra al contenido que buscas"
==
<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Ups! Tenemos un 404
            </div>
            <div class="not-found__content">
                <h1 class="not-found__title">Página no encontrada</h1>
                <p class="not-found__text">
                   No hemos podido localizar el contenido que buscas<br>
                    Intenta usar nuestro buscador
                </p>
               
                <p class="not-found__text">
                    O vuelve al comienzo de e intenta nuevamente.
                </p>
                <a class="btn btn-secondary btn-sm" href="{{'index'|staticPage}}">Volver al home</a>
            </div>
        </div>
    </div>
</div>