url = "/post/:slug"
layout = "default"
title = "post-single"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "cart"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No se encontraron publicaciones."
sortOrder = "published_at desc"

[SeoBlogPost]
post = "post"
==
{% set post = blogPost.post %}

{% component 'SeoBlogPost' data=post %}
<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Home</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="block post post--layout--classic">
                <div class="post__header post-header post-header--layout--classic">
                    
                    <h1 class="post-header__title">{{post.title}}</h1>
                    <div class="post-header__meta">
                        <div class="post-header__meta-item"><a href="#">Publicado: {{ post.published_at|date('M d, Y') }}</a></div>
                        
                    </div>
                </div>
                <div class="post__featured">
                    <a href="">
                        <img src="{{post.featured_images[0].path}}" alt="">
                    </a>
                </div>
                <div class="post__content typography ">
                    {{ post.content_html|raw }}
                </div>
                <div class="post__footer">
                    {#
                    <div class="post-author">
                        <div class="post-author__avatar">
                            <a href=""><img src="images/avatars/avatar-1.jpg" alt=""></a>
                        </div>
                        <div class="post-author__info">
                            <div class="post-author__name">
                                <a href="">Jessica Moore</a>
                            </div>
                            <div class="post-author__about">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur suscipit suscipit mi, non
                                tempor nulla finibus eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>
                    </div>
                    #}
                </div>
                <section class="post__section">
                    <h4 class="post__section-title">Relacionados</h4>
                    <div class="related-posts">
                        {% set related = blogPosts.posts %}
                        {% for related_post in related %}
                            {% if post.id != related_post.id %}
                            <div class="related-posts__list">
                                <div class="related-posts__item post-card post-card--layout--related">
                                    <div class="post-card__image">
                                        <a href="{{ 'post-single'|page({slug: related_post.slug }) }}">
                                            <img src="{{related_post.featured_images[0].path}}" alt="">
                                        </a>
                                    </div>
                                    <div class="post-card__info">
                                        <div class="post-card__name">
                                            <a href="{{ 'post-single'|page({slug: related_post.slug }) }}">{{related_post.title}}</a>
                                        </div>
                                        <div class="post-card__date">Publicado: {{ related_post.published_at|date('M d, Y') }}</div>
                                    </div>
                                </div>
                                
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
                
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="block block-sidebar block-sidebar--position--end">
                
                {% partial 'blog/our-blog' %}
                
                {% partial 'blog/main-categories' %}
            </div>
        </div>
    </div>
</div>