url = "/perfil/:menu?"
layout = "default"
title = "profile"

[UserData]

[UserPage]
slug = "{{ :slug }}"
slug_required = 0
mode = "ajax"
redirect_page = "test-home"
login_page = "register"

[ChangePassword]
slug = "{{ :slug }}"
slug_required = 0
mode = "ajax"
redirect_page = "register"
check_old_password = 1

[ContactHandler]

[Pagination]
count_per_page = 10
pagination_limit = 10
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
function onStart()
{
    $this['menu'] = $this->param('menu');;
}
==
{% set obUser = UserData.get %}

{% set iPage = Pagination.getPageFromRequest() %}
{% set obOrderItems = obUser.order %}

{% set iCount = obUser.order.count() %}
{% set arPaginationList = Pagination.get(iPage, iCount) %}
{% set phoneCodes = ContactHandler.getPhoneCodes() %}

{% set complete = 0 %}

<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>Perfil</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex">
                    {% partial 'profile/navigation' menu = menu %}
                </div>
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    {% if menu == "seguridad" %}
                        
                        {% partial 'profile/change-password' %}

                    {% elseif menu == "info" or menu =="" %}
                        <div id="profile-info-container">
                            {% partial 'profile/user-data' obUser = obUser  phoneCodes = phoneCodes %}
                        </div>
                        
                    {% elseif menu == "historial" %}

                        {% partial 'profile/order-history' obOrderItems = obOrderItems iCount = iCount iPage = iPage %}

                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>