url = "/recuperacion"
layout = "default"
title = "recovery"
meta_title = "Recupera tu cuenta"

[RestorePassword]
mode = "ajax"

[UserData]
==
<div class="site__body">

    <div class="block">
        <div class="container">
            
            <div class="page-header">
                <div class="page-header__container container">
                    {% partial 'misc/simple-breadcrumb' %}
                    
                </div>
            </div>
            {% set obUser = UserData.get %}

            {% if obUser is null %}
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex  mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">Escribe tu dirección de correo <br>
                                <small>Enviaremos un email con los pasos a seguir para establecer una nueva contraseña</small>
                            </h4>
           
                            <form id="restore-form">
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-sm-12 form-group">
                                        <input type="email" name="email" class="form-control" placeholder="tu correo aquí" required>
                                    </div>
                                    

                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary mt-4">Recuperar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            {% partial 'already-logged' %}

            {% endif %}
        </div>
    </div>

    
    
</div>