url = "/registro"
layout = "default"
title = "register"
meta_title = "¡Regístrate en pocos minutos!"
meta_description = "Empieza a disfrutar de comprar con nosotros fácilmente"

[ContactHandler]

[Registration]
mode = "ajax"
redirect_on = 1
redirect_page = "{{ / }}"
activation = "activation_on"
force_login = 1

[SeoCmsPage]
==
{% set phoneCodes = ContactHandler.getPhoneCodes() %}
<div class="site__body">

    <div class="block">
        <div class="container" id="register-form-container">
            
            {% partial 'register-form' phoneCodes = phoneCodes %}
        </div>
    </div>

    
    
</div>