url = "/restauracion/:slug"
layout = "default"
title = "restore"
meta_title = "Restauración de contraseña"

[ResetPassword]
slug = "{{ :slug }}"
slug_required = 1
mode = "ajax"
==
<div class="site__body">

    <div class="block">
        <div class="container">
            
            <div class="page-header">
                <div class="page-header__container container">
                    {% partial 'misc/simple-breadcrumb' %}
                    
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 d-flex  mt-4 mt-md-0">
                    <div class="card flex-grow-1 mb-0">
                        <div class="card-body">
                            <h4 class="card-title text-center">Escribe tu nueva contraseña <br>
                               
                            </h4>
           
                            <form id="reset-form">
                                
                                <div class="form-row">
                                    <div class="col-md-12 col-sm-12 form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Nueva contraseña" required>
                                    </div>
                                    

                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 col-sm-12 form-group">
                                        <input type="password" name="password_confirmation" class="form-control" placeholder="Repite tu nueva contraseña" required>
                                    </div>
                                    

                                </div>
                                <div class="row justify-content-center">
                                    <button type="submit" class="btn btn-primary mt-4">Confirmar</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    
</div>