url = "/busqueda/:page/:q"
layout = "default"
title = "search"
meta_title = "Busqueda"
meta_description = "Resultados de tu busqueda"

[CategoryData]
==

{% set obCategory = CategoryData.get(searchParams.category_id) %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            {% partial 'products/search-results.htm' %}
        </div>
    </div>
    <div class="block block-sidebar block-sidebar--offcanvas--always">
        <div class="block-sidebar__backdrop"></div>
        <div class="block-sidebar__body">
            <div class="block-sidebar__header">
                <div class="block-sidebar__title">Filters</div>
                <button class="block-sidebar__close" type="button">
                    <svg width="20px" height="20px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#cross-20"></use>
                    </svg>
                </button>
            </div>
            
            {% partial 'products/search-filters' obCategory = obCategory %}
        </div>
    </div>
</div>