url = "/producto/:slug"
layout = "default"
title = "product-single"

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[ProductList]
sorting = "no"

[Cart]
==
<?php
function onStart()
{
    use Lovata\Shopaholic\Models\Product;

    $this["obProduct"] = $property = Product::where("slug", $this->param('slug'))->first();
}


function onEnd(){
  if($this["obProduct"]){
      if($this["obProduct"]->preview_image){
      $image = $this["obProduct"]->preview_image->getPath();
      }else{
      $image = "";
      }
      
      $seo_props =  array(
        "titulo" => $this["obProduct"]->name,
        "descripcion" => $this["obProduct"]->preview_text,
        "type" => "article",
        "imagen" => $image,
        "url" => "https://contigo24.net/producto/".$this["obProduct"]->id."/".$this["obProduct"]->slug,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
{% set obProduct = ProductPage.get() %}


{% set prevQuantity =  null %}

{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}
    
    {% for obCartPosition in obCartPositionList %}
        {% set obOffer = obCartPosition.offer %}
       
        {% if obOffer.product.id == obProduct.id %}

            {% set prevQuantity =  obCartPosition.quantity %}

        {% endif %}
    {% endfor %}

{% endif %}


<div class="page-header">
    <div class="page-header__container container">
        <div class="page-header__breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ 'index'|staticPage }}">Home</a>
                        <svg class="breadcrumb-arrow" width="6px" height="9px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-6x9"></use>
                        </svg>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{obProduct.name}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="block">
    <div class="container">
        <div class="product product--layout--standard" data-layout="standard">
            <div class="product__content">
                <!-- .product__gallery -->
                <div class="product__gallery">
                    <div class="product-gallery">
                        <div class="product-gallery__featured">
                            <button class="product-gallery__zoom">
                                <svg width="24px" height="24px">
                                    <use xlink:href="{{'images/sprite.svg'|media}}#zoom-in-24"></use>
                                </svg>
                            </button>
                            <div class="owl-carousel" id="product-image">
                                {% if obProduct.images %}
                                    {% for image in obProduct.images %}
                                    <div class="product-image product-image--location--gallery">
                                        <a href="{{image.path}}" class="product-image__body" target="_blank">
                                            <img class="product-image__img" src="{{image.path}}" alt="">
                                        </a>
                                    </div>
                                    {% endfor %}

                                {% else %}
                                <div class="product-image product-image--location--gallery">
                                    <a href="{{obProduct.preview_image.path}}" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                                {% endif %}
                                
                                
                                
                            </div>
                        </div>
                        {% if obProduct.images %}

                        <div class="product-gallery__carousel">
                            <div class="owl-carousel" id="product-carousel">
                                {% for image in obProduct.images %}
                                <a href="{{image.path}}" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="{{image.path}}" alt="">
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <!-- .product__gallery / end -->
                <!-- .product__info -->
                <div class="product__info">
                    <div class="product__wishlist-compare">
                        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#wishlist-16"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#compare-16"></use>
                            </svg>
                        </button>
                    </div>
                    <h1 class="product__name">{{obProduct.name}}</h1>
                    
                    <div class="product__description">
                        {{obProduct.preview_text}}
                    </div>
                    {% if obProduct.brand.id is not null %}
                    <ul class="product__meta">
                       
                        <li>Marca: <a href="">{{obProduct.brand.name}}</a></li>
                        
                    </ul>
                    {% endif %}
                </div>
                <!-- .product__info / end -->
                <!-- .product__sidebar -->
                {% set obOffer = obProduct.offer.active().first() %}
                <div class="product__sidebar">
                    {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                    <div>
                        <p class="mt-2"><span class="grey-1-text">Disponibles:</span> <strong class="green-text">{{obOffer.quantity}}</strong></p>
                    </div>
                    <div class="product__prices">
        
                        {% if obOffer.old_price_value > 0 %}
                        <span class="product-card__new-price">
                            {{ obOffer.price  }} {{obOffer.getActiveCurrency()}}
                        </span>
                        <span class="product-card__old-price">
                            {{ obOffer.old_price  }} {{obOffer.getActiveCurrency()}}
                        </span>
                        {% else %}

                        
                        {{ obOffer.price  }} {{obOffer.getActiveCurrency()}}
                        
                        {% endif %}
                    </div>

                    <!-- .product__options -->
                    <form class="product__options" id="product-single-form">
                        
                        <div class="form-group product__option">
                            <label class="product__option-label" for="product-quantity">Cantidad</label>
                            <div class="product__actions">
                                <div class="product__actions-item">
                                    <div class="input-number product__quantity">
                                        <input id="product-quantity" name="quantity" class="input-number__input form-control form-control-lg" type="number" min="1"
                                             value="{{prevQuantity is not null ? prevQuantity : 1}}" max="{{obOffer.quantity}}">
                                        <div class="input-number__add"></div>
                                        <div class="input-number__sub"></div>
                                    </div>
                                </div>
                                <div class="product__actions-item product__actions-item--addtocart add-to-cart">
                                    <input type="hidden" name="offer" value="{{obOffer.id}}">
                                    <button class="btn btn-primary btn-lg">Añadir al carrito</button>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <!-- .product__options / end -->

                    <div class="card pt-2 pb-2 mt-3">
                        <div class="card-content text-center ">
                            Este producto se encuentra <strong>AGOTADO</strong>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- .product__end -->
                <div class="product__footer">
                    
                </div>
            </div>
        </div>
        <div class="product-tabs  product-tabs--sticky">
            <div class="product-tabs__list">
                <div class="product-tabs__list-body">
                    <div class="product-tabs__list-container container">
                        <a href="#tab-description" class="product-tabs__item product-tabs__item--active">Description</a>
                        {#
                        <a href="#tab-specification" class="product-tabs__item">Specification</a>
                        <a href="#tab-reviews" class="product-tabs__item">Reviews</a>
                        #}
                    </div>
                </div>
            </div>
            <div class="product-tabs__content">
                <div class="product-tabs__pane product-tabs__pane--active" id="tab-description">
                    <div class="typography">
                        {{obProduct.description|raw}}
                    </div>
                </div>
                {#
                <div class="product-tabs__pane" id="tab-specification">
                    <div class="spec">

                    </div>
                </div>
                <div class="product-tabs__pane" id="tab-reviews">
                    <div class="reviews-view">
                        
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</div>

{% set obProductList = ProductList.make().active().search(obProduct.name) %} 

{% set arProductList = obProductList.take(8) %}

{% partial 'products/related-products' arProductList = arProductList mainProduct = obProduct %}