<div class="card">
    <div class="card-header">
        <h5>Cambiar contraseña</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <form class="col-md-12" id="change-password">
    
            <div class="form-row">
                <div class="col-12 form-group">
                    <label for="name">Contraseña Anterior</label>

                    <input type="password" name="old_password" class="form-control">
                </div>
                
            </div>

            <div class="form-row">
                <div class="col-12 form-group">
                    <label for="email">Nueva contraseña</label>

                    <input type="password" class="form-control" name="password">
                </div>
                
            </div>
            
            <div class="form-row">
                <div class="col-12 form-group">
                    <label for="email">Repita su nueva contraseña</label>

                    <input type="password" class="form-control" name="password_confirmation">
                </div>
                
            </div>

            <hr>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary btn-round" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>