<div class="account-nav flex-grow-1">
    <h4 class="account-nav__title">Acciones</h4>
    <ul>
        
        <li class="account-nav__item {{menu == 'info' ? 'account-nav__item--active'}} ">
            <a href="{{'profile'|page({'menu': 'info' })}}">Editar perfil</a>
        </li>
        <li class="account-nav__item {{menu == 'historial' ? 'account-nav__item--active'}}">
            <a href="{{'profile'|page({'menu': 'historial' })}}">Historial de ordenes</a>
        </li>
        
        <li class="account-nav__item {{menu == 'seguridad' ? 'account-nav__item--active'}}">
            <a href="{{'profile'|page({'menu': 'seguridad' })}}">Seguridad</a>
        </li>
       
    </ul>
</div>