<div class="card">
    <div class="card-header">
        <h5>Historial de ordenes</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                    <tr>
                        <th>Número de Orden</th>
                        <th>Fecha</th>
                        <th>Status</th>
                        <th>Moneda</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                {% set arOrderList = obOrderItems.page(iPage, Pagination.getCountPerPage()) %}
                
                {% for order in arOrderList %}
                    <tr>
                        <td><a href="{{ 'order'|page({ slug: order.secret_key }) }}">{{order.order_number}}</a></td>
                        <td>{{order.created_at|date("d/m/Y")}}</td>
                        <td><span class="badge badge-secondary {{order.status.code}}-status">{{order.status.name}}</span></td>
                        <td>{{order.currency.code}}</td>
                        <td>{{order.total_price}}</td>
                    </tr>

                {% endfor %}
                    

                </tbody>
            </table>
        </div>
    </div>
    {% set arPaginationList = Pagination.get(iPage, iCount) %}

    <div class="card-divider"></div>
    <div class="card-footer">
        <ul class="pagination justify-content-center">
            {% for arPagination in arPaginationList %}
            <li class="page-item {{ arPagination.class }}">
                <a class="page-link" href="{{ url_current() }}?page={{ arPagination.value }}">
                    {{ arPagination.name }} <span class="sr-only">(current)</span>
                
                </a>
            </li>
            

            {% endfor %}
            
        </ul>
    </div>
</div>