{% set obUser = UserData.get %}
{% set phoneCodes = ContactHandler.getPhoneCodes() %}
<div class="card">
    <div class="card-header">
        <h5>Editar perfil</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <form class="col-md-12" id="user-profile-info">
    
            <div class="form-row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label for="name">Nombre</label>

                    <input type="text" name="name" class="form-control"
                    value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.name}}">
                </div>
                <div class="col-sm-12 col-md-6 form-group">
                    <label for="last_name">Apellido</label>

                    <input type="text" class="form-control" name="last_name"
                    value="{{obUser.isNotEmpty() and obUser.name != '' ? obUser.last_name}}">
                </div>

            </div>

            <div class="form-row">
                <div class="col-sm-12 col-md-6 form-group">
                    <label for="email">Email</label>
                   
                    <input type="email"  readonly class="form-control-plaintext" name="email" value ="{{obUser.isNotEmpty() and obUser.email != '' ? obUser.email}}">
                </div>
                <div class="col-sm-12 col-md-6 col-form-control bootstrap-select-container p-0">
                    <label >Teléfono</label>
                    {% set phone =  obUser.phone|split("-") %}
                    <div class="input-group ">
                        <div class="input-group-prepend">
                        
                            <select class="custom-select" id="country-codes" name="country_code" 
                            data-live-search="true"  {{organicUser == true ? 'disabled'}}>
                                {% for codes in phoneCodes %}
                                {% if phone|length < 2 %}
                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == '58' ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                {% else %}
                                    <option value="+{{codes.callingCodes[0]}}" {{codes.callingCodes[0] == phone[0] ? 'selected' }}>+{{codes.callingCodes[0]}}</option>
                                {% endif %}
        
                                {% endfor %}
                                </select>
                        </div>
                        <input type="text" class="form-control" value="{{phone[1]}}" name="phone"
                            placeholder="4141245678" {{organicUser == true ? 'readonly=true'}}>
                        </div>
                        <div class="errors"></div>
                </div>
            </div>
            
            {% set document =  obUser.property.document|split("-") %}

            <div class="form-row">
                <div class="col-sm-12 col-md-6 form-group pl-0  pr-0">
                    <label >Documento de identidad</label>
            
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <select class="custom-select" name="property[document_type]">
                                <option value="V"  {{document[0] == "V" ? 'selected' }}>V</option>
                                <option value="E" {{document[0] == "E" ? 'selected'}}>E</option>
                                <option value="P" {{document[0] == "P" ? 'selected'}}>P</option>
                                <option value="J" {{document[0] == "J" ? 'selected'}}>J</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="property[document]"
                        placeholder="Ej: 123456" value="{{document[1]}}">
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12 d-flex justify-content-center">
                <button class="btn btn-primary btn-round" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</div>
