==
<?php 

function onStart(){
    use Lovata\OrdersShopaholic\Models\Order;
    
    $obOrder =  Order::getBySecretKey($this->param('slug'))->first();

    $obPriceData = $obOrder->total_price_data;
    $arPriceLog = $obPriceData->log;
    $promos = array();
     foreach ($arPriceLog as $obPriceLogData) {
        $obMechanism = $obPriceLogData->mechanism;
        $promo["description"] = $obMechanism->getRelatedDescription();
        $promo["increase_price"] = $obPriceLogData->increase_price;

        array_push($promos, $promo);
     }
     $this["promos"] = $promos;
}
?>
==
{% set object = obOrder.getObject() %}

{% set obPriceData = object.total_price_data %}

{% set arPriceLog =  obPriceData.log %}

<div id="order-resume">
    <h5 class="text-center pb-2">ORDEN N° {{obOrder.order_number }}

        <span class="badge badge-secondary {{obOrder.status.code}}-status">{{obOrder.status.name }}</span>
    
    </h5>
    
    
    {% if obOrder.status.code == "new" %}
    <div class="row">
        <div id="created_at" class="d-flex justify-content-center w-100 mb-2" data-date="{{obOrder.getExpirationDate()|date('m/d/Y g:i:s a','America/Caracas')}}" data-created="{{obOrder.created_at|date('m/d/Y g:i:s a','America/Caracas')}}">
                Tiempo para realizar tu pago: 
                <strong>
    
                    <span id="clock"></span>
    
                </strong>
    
        </div>
        
    </div>
    {% endif %}
    <div class="card mb-2">
        <div class="card-body card-body pb-1 pt-3">
            <ul class="order-details">
                <li>
                    <strong>Precio Delivery:</strong> {{obOrder.shipping_price}} {{obOrder.currency.code}}
                </li>
                <li>
                    <strong>Total a pagar:</strong> <span style="color: #6bc48d; font-weight: bold;">{{obOrder.total_price}} {{obOrder.currency.code}}</span>
                </li>
                {% if promos is not empty%}
                    {% for promo in promos %}
                    <li>
                        <strong>{{promo.description}}</strong>: {{promo.increase_price}} {{obOrder.currency.code}}
                    </li>
                    {% endfor %}
                {% endif %}
                
                <li>
                    <strong>Equivalente: </strong> {{PaymentsHandler.getSecundaryMount(obOrder.total_price_value, obOrder.currency.code)}}
                    {{obOrder.currency.code == "USD" ?  "VES" : "USD" }} <br>
                    <strong>Tasa del dia: </strong> {{obOrder.property["rate"]}} VES
                </li>
                
            </ul>
            <hr>
            {% if obOrder.status.code == "new" or obUser.role is not null %}
            <p class="text-center">
                Estás viendo los métodos de pago en <strong>{{obOrder.currency.code}}</strong>,
                para verlos en  {{obOrder.currency.code == "USD" ?  "VES" : "USD" }} haga click <br>
                 <button class="btn btn-primary mt-2" id="switchCurrency">Aquí</button>
             </p>
             {% endif %}
        </div>
    </div>
    
    <div class="block d-none d-md-none d-lg-block">
        <div class="products-view">
            <div class="products-view__list products-list" data-layout="list" data-with-features="false" data-mobile-grid-columns="2">
                <div class="products-list__body">
                    {% for obCollection in obOrder.order_position %}
                    
                    
                    <div class="products-list__item">
                        <div class="product-card product-card--hidden-actions ">
                            <div class="product-card__image product-image">
                                <a href="{{ 'single-product'|page({product_id: obCollection.offer.product.id, slug: obCollection.offer.product.slug }) }}" class="product-image__body">
                                    <img class="product-image__img" src="{{ obCollection.offer.product.preview_image.path }}" alt="">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="{{ 'single-product'|page({product_id: obCollection.offer.product.id, slug: obCollection.offer.product.slug }) }}">{{obCollection.offer.name}}</a>
                                </div>
                                <div class="product-card__rating">
                                    <p><strong>Cantidad: </strong> <span> {{obCollection.quantity}}</span></p>
                                  
                                </div>
                            </div>
                            <div class="product-card__actions">
                                <div class="product-card__availability">
                                    Precio: <span class="text-success">{{ obCollection.price  }} {{obOrder.currency.code}}</span>
                                </div>
                                <div class="product-card__prices">
                                    {{ obCollection.total_price  }} {{obOrder.currency.code}}
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    
    </div>
    <div class="block d-xs-block d-md-none">
        <div class="list-group">
            <div  class="list-group-item list-group-item-action flex-column align-items-start">
            {% for obCollection in obOrder.order_position %}
            
               
                    <p class="">
                    <strong>{{obCollection.offer.name}}</strong>
                    </p>
                    <p>
                        <p><strong>Cantidad: </strong> <span> {{obCollection.quantity}}</span></p>
                      
                    </p>
                    <div class="product-card__availability">
                        Precio: <span class="text-success">{{ obCollection.price  }} {{obOrder.currency.code}}</span>
                    </div>
                    <div class="text-right">
                        {{ obCollection.total_price  }} {{obOrder.currency.code}}
                    </div>
                
                    <hr>
                {#
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">List group item heading</h5>
                  <small>3 days ago</small>
                </div>
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>Donec id elit non mi porta.</small>
                
              
              #}
            {% endfor %}
            </div>
        </div>
    </div>
</div>



