<div id="order-statuses-container">
    {% if (obOrder.status.id == 1 and obOrder.isAvailableToPay == false) or obOrder.status.id == 6 %}
    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
                <div class="pt-3">
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        <img src="{{'icons/clock.png'|media}}" alt="">
                        <br>Tú orden se encuentra <br> <strong>caducada</strong></h4>
                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">intenta realizar una nueva o comunícate con nosotros
                        por el chat para asistirte en la recuperación de tu pedido</div>
                  
                </div>
                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                
            </div>
        </div>
    </div>
    
    {% elseif obOrder.status.id == 5 %}


    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
               
                <div class="pt-3">
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        <img src="{{'icons/check.png'|media}}" alt="">
                        <br>Tú orden se encuentra <br> <strong>pagada</strong></h4>
                    
                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">En breve nos comunicaremos contigo para 
                        coordinar <strong>{{obOrder.shipping_type.id == 1 ? ' el retiro en tienda' : 'la entrega' }}</strong>  de tu compra. <br>
                         <strong>¡Muchas gracias!</strong>
                    </div>
                  
                </div>
                
                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                
            </div>
        </div>
    </div>

    {% elseif obOrder.status.id == 2 %}   

    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
                <!--begin::Section-->
                <div class="pt-3">
                    <!--begin::Title-->
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        <img src="{{'icons/audit.png'|media}}" class="pb-2" alt="">
                        <br>Hemos recibido tu pago</h4>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                        Cuando hayamos <strong>verificado</strong> el mismo te notificaremos para concretar tu compra.
                        <br>
                         <strong>¡Muchas gracias!</strong>
                    </div>
                    <!--end::Text-->
                    <!--begin::Action-->
                
                    <!--end::Action-->
                </div>
                <!--end::Section-->
                <!--begin::Image-->
                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                <!--end::Image-->
            </div>
        </div>
    </div>

    {% elseif obOrder.status.id == 3 %}   

    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
                <!--begin::Section-->
                <div class="pt-3">
                    <!--begin::Title-->
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        <img src="{{'icons/shopping-bags.png'|media}}" class="pb-2" alt="">
                        <br>Pedido entregado</h4>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                        Tu pedido ha sido <strong>entregado</strong> exitósamente. Para ver tu historico
                        de ordenes visita tu <a href="#">perfil</a> de usuario
                        <br>
                         <strong>¡Muchas gracias!</strong>
                    </div>
                    <!--end::Text-->
                    <!--begin::Action-->
                
                    <!--end::Action-->
                </div>
                <!--end::Section-->
                <!--begin::Image-->
                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                <!--end::Image-->
            </div>
        </div>
    </div>

    {% elseif obOrder.status.id == 4 %}   

    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
               
                <div class="pt-3">
                  
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        <img src="{{'icons/close.png'|media}}" class="pb-2" alt="">
                        <br>Pedido Cancelado</h4>
                   
                    <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">
                        Tu pedido ha sido <strong>cancelado,</strong> sí no ha sido cancelado por tí
                        escribe a nuestro chat y te informaremos al respecto.
                        
                    </div>
                    
                </div>
                
                
            </div>
        </div>
    </div>
    {% elseif obOrder.status.id == 7 %}   

    <div class="card">
        <div class="card-content">
            <div class="d-flex flex-column justify-content-between h-100">
               
                <div class="pt-3">
                  
                    
                    <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                        {% if obOrder.shipping_type.id == 1 %}
                        <img src="{{'icons/cash-payment.png'|media}}" class="pb-2" alt="">
                        {% else %}
                        <img src="{{'icons/delivery-man.png'|media}}" class="pb-2" alt="">
                        
                        {% endif %}
                        <br>Pago en efectivo pendiente
                    </h4>
                        {% if obOrder.shipping_type.id == 1 %}
                        <div class="text-center pb-4 px-4">
                            Te esperamos en nuestra sede <strong>Urb. La Urbina,</strong> para que efectues el 
                            pago de tu orden
                            <br>
                            <strong>¡Muchas gracias!</strong>
                        </div>
                        {% else %}
                        <div class="text-center pb-4 px-4">
                            En breve nuestro delivery se comunicará contigo para coordinar la entrega
                            de tu orden y el pago de la misma.
                            <br>
                            <strong>¡Muchas gracias!</strong>
                        </div>
                        {% endif %}
                   
                    
                </div>
                
                
            </div>
        </div>
    </div>

    {% endif %}
</div>
