[Pagination]
count_per_page = 20
pagination_limit = 10
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1

==
{% set iPage = Pagination.getPageFromRequest() %}

{% set iCount = obProductList.count() %}

{% set arPaginationList = Pagination.get(iPage, iCount) %}

{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}


<div class="block">
    <div class="products-view">
        <div class="products-view__options">
            <div class="view-options view-options--offcanvas--always">
                <div class="view-options__filters-button">
                    <button type="button" class="filters-button">
                        <svg class="filters-button__icon" width="16px" height="16px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#filters-16"></use>
                        </svg>
                        <span class="filters-button__title">Filtros</span>
                        
                    </button>
                </div>
                
                <div class="view-options__legend">Mostrando {{arProductList|length}} de {{obProductList.count}} productos</div>
                <div class="view-options__divider"></div>
            </div>
        </div>

        {% if arProductList|length > 0 %}
        <div class="products-view__list products-list" data-layout="grid-4-full" data-with-features="false" data-mobile-grid-columns="2">
            <div class="products-list__body">
                {% for obProduct in arProductList %}
                {% set obOffer = obProduct.offer.active().first() %}
                <div class="products-list__item">
                    <div class="product-card ">
                        <button class="product-card__quickview product-trigger" type="button" data-product-id="{{obProduct.id}}">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#quickview-16"></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                        </button>
                        {% if obOffer.old_price_value > 0 %}
                        <div class="product-card__badges-list">
                            <div class="product-card__badge product-card__badge--sale">Oferta</div>
                        </div>
                        {% endif %}
                        <div class="product-card__image product-image">
                            <a href="{{ 'single-product'|page({product_id: obProduct.id, slug: obProduct.slug }) }}" class="product-image__body">
                                <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="{{ 'single-product'|page({product_id: obProduct.id, slug: obProduct.slug }) }}">
                                    {{obProduct.name}}
                                </a>
                                {% if obOffer.quantity < 1 or obOffer.price_value <= 0 %}
                                <p class="text-center pt-3"><span class="sold-out">AGOTADO</span></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-card__actions">
                            <div class="product-card__availability">
                                Availability: <span class="text-success">In Stock</span>
                            </div>
                            <div class="product-card__prices">
                                {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                                    <p class="custom-availability"><span class="grey-1-text">Disponibles:</span> <span class="green-text">{{obOffer.quantity}}</span></p>
                                
                                    {% if obOffer.old_price_value > 0 %}
                                    <span class="product-card__new-price">
                                        {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                    </span>
                                    <span class="product-card__old-price">
                                        {{ obOffer.old_price|replace({' ':'.'}) }} {{obOffer.getActiveCurrency()}}
                                    </span>
                                    {% else %}
                                    {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                    
                                    {% endif %}
                                   
                                {% endif %}

                
                            </div>
                            <div class="product-card__buttons">
                            {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                                <form class="d-flex justify-content-between w-100 product-card-form">
                                    <div class="col-md-6 pl-0">
                                        <div class="form-group">
                                        
                                            <select name="quantity" class="form-control select-card-{{obProduct.id}}">
                                                {% for i in 1..obOffer.quantity %}
                                                <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pr-0">
                                        <input type="submit" value="Añadir" class="btn btn-primary product-card__addtocart w-100">
                                            
                                    </div>
                                    <input type="hidden" name="offer" value="{{obOffer.id}}">
                                </form>
                                {#
                                <button class="btn btn-primary product-card__addtocart product-trigger" type="button" data-product-id="{{obProduct.id}}">
                                    Añadir 
                                </button>
                                <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button"> Editar</button>
                                #}
                            {% endif %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="products-view__pagination">
            {% set arPaginationList = Pagination.get(iPage, iCount) %}
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link page-link--with-arrow" href="" aria-label="Previous">
                        <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-left-8x13"></use>
                        </svg>
                    </a>
                </li>
                {% for arPagination in arPaginationList %}
                <li class="page-item {{ arPagination.class }}">
                    <a class="page-link" href="{{ url_current() }}?page={{ arPagination.value }}">
                        {{ arPagination.name }}
                    
                    </a>
                </li>
                
                {% endfor %}
                    <a class="page-link page-link--with-arrow" href="" aria-label="Next">
                        <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-8x13"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
            <div class="d-flex justify-content-center w-100">
                <div class="card">
                    <div class="card-content">
                        <div class="d-flex flex-column justify-content-between h-100">
                           
                            <div class="pt-3">
                                
                                <h4 class="text-dark text-center fs-1 fw-boldest  pt-2">
                                    <img src="{{'icons/empty-box.png'|media}}" alt="">
                                    <br><strong> ¡Ups!</strong></h4>
                                
                                <div class="text-center text-gray-600 fs-5 fw-bold pb-4 px-4">No hemos podido encontrar coíncidencias con tu busqueda<br>

                                     <strong>si buscas algo en particular puedes escribir a nuestro chat</strong>
                                </div>
                              
                            </div>
                            
                            <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom card-rounded-bottom max-h-175px min-h-175px" style="background-image:url('/craft/assets/media/illustrations/drawing.png')"></div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        {% endif %}
    </div>
</div>