<div class="block-sidebar__item">
    <div class="widget-filters widget widget-filters--offcanvas--always" data-collapse="" data-collapse-opened-class="filter--opened">
        <form action="#" class="filter-form">
            <h4 class="widget-filters__title widget__title">Filtros</h4>
            <div class="widget-filters__list">
                <div class="widget-filters__item">
                    <div class="form-group">
                        <label name="sort" >Orden</label>
                        <select class="form-control" name="sort">
                            <option value="no" {{searchParams.sort == 'no' ? 'selected' }}>Ninguno</option>
                            <option value="new" {{searchParams.sort == 'new' ? 'selected' }}>Nuevo</option>
                            <option value="price-asc" {{searchParams.sort == 'price-asc' ? 'selected' }}>Menor Precio</option>
                            <option value="price-desc" {{searchParams.sort == 'price-desc' ? 'selected' }}>Mayor Precio</option>
                        </select>
                    </div>
                </div>
                {% if obCategory.children.isNotEmpty() %}

                <div class="widget-filters__item">
                    <div class="filter filter--opened" data-collapse-item="">
                        <button type="button" class="filter__title" data-collapse-trigger="">
                            Categorías
                            <svg class="filter__arrow" width="12px" height="7px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-down-12x7"></use>
                            </svg>
                        </button>
                        <div class="filter__body" data-collapse-content="">
                            <div class="filter__container">
                                <div class="filter-list">
                                    <div class="filter-list__list">
                                        {% set subcategories = searchParams.subcategory %}
                                        
                                        {% for obChildCategory in obCategory.children %}
        
                                        <label class="filter-list__item ">
                                            <span class="filter-list__input input-check">
                                                <span class="input-check__body">
                                                    <input class="input-check__input" 
                                                    name="subcategory[]" value="{{obChildCategory.id}}" type="checkbox" 
                                                    {{obChildCategory.id in subcategories ? 'checked' }}>
                                                    <span class="input-check__box"></span>
                                                    <svg class="input-check__icon" width="9px" height="7px">
                                                        <use xlink:href="{{'images/sprite.svg'|media}}#check-9x7"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="filter-list__title">
                                                {{obChildCategory.name}}
                                            </span>
                                            
                                        </label>

                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                
                {% if arBrands.count > 0 %}
                <div class="widget-filters__item">
                    <div class="filter filter--opened" data-collapse-item="">
                        <button type="button" class="filter__title" data-collapse-trigger="">
                            Categorias
                            <svg class="filter__arrow" width="12px" height="7px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-down-12x7"></use>
                            </svg>
                        </button>
                        <div class="filter__body" data-collapse-content="">
                            <div class="filter__container">
                                <div class="filter-list">
                                    <div class="filter-list__list">
                                        {% for brand in arBrands %}
                                        <label class="filter-list__item ">
                                            <span class="filter-list__input input-check">
                                                <span class="input-check__body">
                                                    <input class="input-check__input" value="{{brand.id}}" name="brand" type="checkbox">
                                                    <span class="input-check__box"></span>
                                                    <svg class="input-check__icon" width="9px" height="7px">
                                                        <use xlink:href="{{'images/sprite.svg'|media}}#check-9x7"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <span class="filter-list__title">
                                                {{brand.name}}
                                            </span>
                                            
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                
            
            </div>
            <div class="widget-filters__actions d-flex">
                {% if searchParams.category_id is not null %}
                    <input type="hidden" name="category_id" value="{{searchParams.category_id}}">
                {% endif %}
                {% if searchParams.search is not null %}
                    <input type="hidden" name="search" value="{{searchParams.search}}">
                {% endif %}

                {% if obCategory is not null %}
                <input type="hidden" name="category_id" value="{{obCategory.id}}">
                {% endif %}
                <button class="btn btn-primary btn-sm">Filtrar</button>
                
            </div>
        </form>
    </div>
</div>