[ProductData]

[UserData]

==
{% component 'ProductData' %}

{% set obProduct = ProductData.get(product_id_modal) %}
{% set obOffer = obProduct.offer.active().first() %}

{% set obUser = BackendUserHandler.getBackendUser() %}

{% if obUser == null %}
    {% set obUser = UserData.get %}
{% endif %}

<div class="quickview">
    <button class="quickview__close" type="button">
        <svg width="20px" height="20px">
            <use xlink:href="{{'images/sprite.svg'|media}}#cross-20"></use>
        </svg>
    </button>
    <div class="product product--layout--quickview" data-layout="quickview">
        <div class="product__content">
            <div class="row">
                <div class="product__gallery">
                    <img class="img-fluid" src="{{obProduct.preview_image.path}}" alt="">
                    {#
                    <div class="product-gallery">
                        <div class="product-gallery__featured">
                            <button class="product-gallery__zoom">
                                <svg width="24px" height="24px">
                                    <use xlink:href="{{'images/sprite.svg'|media}}#zoom-in-24"></use>
                                </svg>
                            </button>
                            <div class="owl-carousel" id="product-image">
                                <div class="product-image product-image--location--gallery">
                                    <!--
                                    The data-width and data-height attributes must contain the size of a larger version
                                    of the product image.
    
                                    If you do not know the image size, you can remove the data-width and data-height
                                    attribute, in which case the width and height will be obtained from the naturalWidth
                                    and naturalHeight property of img.product-image__img.
                                    -->
                                    <a href="{{obProduct.preview_image.path}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                                <div class="product-image product-image--location--gallery">
                                    <!--
                                    The data-width and data-height attributes must contain the size of a larger version
                                    of the product image.
    
                                    If you do not know the image size, you can remove the data-width and data-height
                                    attribute, in which case the width and height will be obtained from the naturalWidth
                                    and naturalHeight property of img.product-image__img.
                                    -->
                                    <a href="{{obProduct.preview_image.path}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="i{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                                <div class="product-image product-image--location--gallery">
                                    <!--
                                    The data-width and data-height attributes must contain the size of a larger version
                                    of the product image.
    
                                    If you do not know the image size, you can remove the data-width and data-height
                                    attribute, in which case the width and height will be obtained from the naturalWidth
                                    and naturalHeight property of img.product-image__img.
                                    -->
                                    <a href="{{obProduct.preview_image.path}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                                <div class="product-image product-image--location--gallery">
                                    <!--
                                    The data-width and data-height attributes must contain the size of a larger version
                                    of the product image.
    
                                    If you do not know the image size, you can remove the data-width and data-height
                                    attribute, in which case the width and height will be obtained from the naturalWidth
                                    and naturalHeight property of img.product-image__img.
                                    -->
                                    <a href="{{obProduct.preview_image.path}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                                <div class="product-image product-image--location--gallery">
                                    <!--
                                    The data-width and data-height attributes must contain the size of a larger version
                                    of the product image.
    
                                    If you do not know the image size, you can remove the data-width and data-height
                                    attribute, in which case the width and height will be obtained from the naturalWidth
                                    and naturalHeight property of img.product-image__img.
                                    -->
                                    <a href="{{obProduct.preview_image.path}}" data-width="700" data-height="700" class="product-image__body" target="_blank">
                                        <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        #}
                        {#
                        <div class="product-gallery__carousel">
                            <div class="owl-carousel" id="product-carousel">
                                <a href="images/products/product-16.jpg" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="images/products/product-16.jpg" alt="">
                                    </div>
                                </a>
                                <a href="images/products/product-16-1.jpg" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="images/products/product-16-1.jpg" alt="">
                                    </div>
                                </a>
                                <a href="images/products/product-16-2.jpg" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="images/products/product-16-2.jpg" alt="">
                                    </div>
                                </a>
                                <a href="images/products/product-16-3.jpg" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="images/products/product-16-3.jpg" alt="">
                                    </div>
                                </a>
                                <a href="images/products/product-16-4.jpg" class="product-image product-gallery__carousel-item">
                                    <div class="product-image__body">
                                        <img class="product-image__img product-gallery__carousel-image" src="images/products/product-16-4.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        #}
                    </div>
                    
                </div>

                <div class="product__info col">
                    <div class="product__wishlist-compare">
                        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Wishlist">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#wishlist-16"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip" data-placement="right" title="Compare">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#compare-16"></use>
                            </svg>
                        </button>
                    </div>
                    <h1 class="product__name">{{obProduct.name}}</h1>
                  
                    <div class="product__description">
                        {{obProduct.preview_text}}
                    </div>
                    <div class="product__sidebar">
                    {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                        <div class="product__prices">
        
                            {% if obOffer.old_price_value > 0 %}
                            <span class="product-card__new-price">
                                {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                            </span>
                            <span class="product-card__old-price">
                                {{ obOffer.old_price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                            </span>
                            {% else %}

                            {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                            
                            {% endif %}
                        </div>
                        <div>
                            <p ><span class="grey-1-text">Disponibles:</span> <strong class="green-text">{{obOffer.quantity}}</strong></p>
                        </div>
                        <!-- .product__options -->
                        <form class="product__options" id="product-modal-form">
                            <div class="form-group product__option">
                                <label class="product__option-label" for="product-quantity">Cantidad</label>
                                <div class="product__actions d-flex align-items-center">
                                    <div class="product__actions-item">
                                        <div class="input-number product__quantity">
                                            <input id="product-quantity" name="quantity" class="input-number__input form-control form-control-lg" type="number" min="1"
                                             value="{{prevQuantity is not null ? prevQuantity : 1}}" max="{{obOffer.quantity}}">
                                            <div class="input-number__add"></div>
                                            <div class="input-number__sub"></div>
                                        </div>
                                    </div>
                                    <div class="product__actions-item product__actions-item--addtocart add-to-cart">
                                        <button class="btn btn-primary">{{prevQuantity is not null ? 'Actualizar' : 'Añadir al carrito'}}</button>
                                        
                                        <input type="hidden" name="offer" value="{{obOffer.id}}">
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <div class="card pt-2 pb-2 mt-3">
                            <div class="card-content text-center ">
                                Este producto se encuentra <strong>AGOTADO</strong>
                            </div>
                        </div>
                        
                        {% endif %}
                        <!-- .product__options / end -->
                    </div>
                </div>
            </div>
            <!-- .product__gallery -->
            
            
            <!-- .product__gallery / end -->
            <!-- .product__info -->
            
            <!-- .product__info / end -->
            <!-- .product__sidebar -->
            
            <!-- .product__end -->
            <div class="d-flex flex-row-reverse pt-5">
                <a href="{{ 'single-product'|page({slug: obProduct.slug  }) }}" class="btn btn-secondary">Más info+</a>
            </div>
            
        </div>
    </div>
</div>