<div class="order-header">
    
    <h5 class="order-header__title">BanPlus</h5>
    <div class="order-header__subtitle">
        <ul>
            <li>beneficiario: <strong>KUPP MARKET</strong></li>
            <li>RIF: <strong>J-308172731</strong></li>
        </ul>
        
         <br>
        
    </div>
</div>

