<div class="order-header">
    
    <h5 class="order-header__title">Efectivo</h5>
    <div class="order-header__subtitle">
        Indícanos la denominación de los billetes para facilitar tu vuelto
    </div>
</div>