<script>
  /*
  $("document").ready(function () {
    $.ajax({
      "type": "GET",
      "url": "http://apicomponent.test.merchantprocess.net/UIComponent/CreditCard",
      "data": { "APIKey" : "*CONTIGO24*SB*2021_V1.0" , "Token" : "" , "Culture" : "es" },
      "success": function (jsonResponse) {			
        $("#mercantil-card-container").html(jsonResponse);
        $("body").find(".card-ui-component-outer").css("width", "100%");
      }
      });

    
  });
  function SaveCreditCard_FailureCallback(response){				
			console.log(response);
      
        
  }
		function SaveCreditCard_SuccessCallback(response){		
			console.log(response);
      $.request('MerchantHandler::onSale', {
          data: response.TokenDetails,
          success: function(response2){
            console.log(response2)
          }
        });
      }
		*/
</script>

<div class="order-header" id="mercantil-card-container">

</div>


   <div class="order-header pt-2 w-100">
     <hr>
    <form class="" id="mercantil-form" data-request-files data-request-validate >
        <div class="form-group">
            <label for="inputAddress2">Número de tarjeta</label>
            <input type="text" name="card_number" class="form-control"  placeholder="Ej: 4111111111111111">
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Titular de la tarjeta</label>
              <input type="text" class="form-control" name="card_holder_name" placeholder="Ej: Jesús Castillo">
            </div>
          </div> 
         <div class="form-row">
           <div class="form-group col-md-6">
             <label>Mes de Expiración</label>
              <select name="exp_month" class="form-control">
                {% for i in 1..12 %}
                  <option value="{{i < 10 ? '0'}}{{i}}"> {{i < 10 ? '0'}}{{i}} </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group col-md-6">
              <label>Año de Expiración</label>
               <select name="exp_year" class="form-control">
                 {% for i in ('now' | date('Y'))..('now' | date('Y')+10) %}
                   <option value="{{i}}"> {{i}} </option>
                 {% endfor %}
               </select>
             </div>    
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>CVV</label>
              <input type="text" class="form-control" name="cvv" placeholder="Ej:123">
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="terms" value="1">
              <label class="form-check-label">
                He leído y acepto los 
                <a href="{{'terminos-y-condiciones'|staticPage}}" target="_blank">
                  Términos y condiciones
                  </a>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="card">
              <div class="card-body text-center">
                <strong>Total a pagar:</strong> <span style="color: #6bc48d; font-weight: bold;">{{obOrder.total_price}}{{obOrder.currency.symbol}}</span>
              </div>
            </div>
          </div>

         <div class="d-flex justify-content-center pt-2">
           <button class="btn btn-primary">Enviar</button>
         </div>

        <input type="hidden" name="method_id" value="{{obPaymentMethod.id is not null ? obPaymentMethod.id : paymentMethodId }}">

        <input type="hidden" name="status_id" value="2">

        <input type="hidden" name="order_status_id" value="{{orderStatus}}">

        <input type="hidden" name="direct_sale" value="1">
        <input type="hidden" name="order_number" value="{{obOrder.order_number}}">
        
        {% if currencyId is not null %}
        <input type="hidden" name="currency_id" value="{{currencyId}}">
        {% endif %}
        <div class="form-group mt-2">
          <hr>
          <div class="">
            <p class="text-center">
              Paga seguro con tus tarjetas <strong>Visa</strong> y <strong>Mastercard</strong> <br>
              <img src="{{'logos-visa-master-web.png'|media}}" class="img-fluid pt-2 mb-2" alt="Logo visa master">
             
              
            </p>
            
          </div>
        </div>
     </form>
   </div>
   
   
