<div class="order-header">
    
    <h5 class="order-header__title">Pago Móvil</h5>
    <div class="order-header__subtitle">
        Realiza tu pago a la cuenta:
        <ul>
            <li><strong>Teléfono:</strong> 0424-465.23.22</li>
            <li><strong>Banco:</strong> Provincial</li>
            <li><strong>Titular:</strong> YADIXON RAMIREZ</li>
            <li><strong>Documento:</strong> V-12.355.690</li>
        </ul>
        
        Una vez lo hagas llena el formulario a continuacion para notificar el mismo.
    </div>
</div>