[PaymentMethodList]
==
{% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}
<div id="payment-collapse">

</div>
<h5 class="text-center">Métodos de pago</h5>
<div class="mb-2 text-center">Elige el método de pago de tu preferencia</div>
<div class="card">
    <div class="card-body pt-3 pb-1">
       
        <form action="#">
                <select name="payment-method" class="custom-select" id="payment-select">
                    {% for obPaymentMethod in obPaymentMethodList %}
                    {% if obOrder.currency.code == "USD" %}
                        {% if obPaymentMethod.code == "zelle" or 
                            obPaymentMethod.code == "stripe" or 
                            obPaymentMethod.code == "cash" or
                            obPaymentMethod.code == "mercantil" or
                            obPaymentMethod.code == "paypal" or 
                            obPaymentMethod.code == "banplus"  %}
                        <option value="{{obPaymentMethod.code}}">
                            {{obPaymentMethod.name}}
                        </option>
                        {% endif %}
                    
                    {% elseif obOrder.currency.code == "VES" %}
                        {% if obPaymentMethod.code == "pago-movil" or 
                        obPaymentMethod.code == "transfer-ves" or
                        obPaymentMethod.code == "banplus" %}
                        <option value="{{obPaymentMethod.code}}">
                            {{obPaymentMethod.name}}
                        </option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </select>
                
        </form>
    </div>
    <hr>
    {% set mainIndex = 1 %}

    {% for obPaymentMethod in obPaymentMethodList %}
        {% if obOrder.currency.code == "USD" %}
            
            {% if obPaymentMethod.code == "zelle"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                {% partial 'payment-methods/zelle'  %}

                {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Nombre de quien envía el Zelle' formId='zelle-form' orderStatus=2 %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "stripe"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                {% partial 'payment-methods/stripe-info' %}
                {% partial 'payment-methods/stripe' obOrder = obOrder %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "cash"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                    {% partial 'payment-methods/cash-info' %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Ej: dos billetes de 20' orderStatus=7 %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "mercantil"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                    {% partial 'payment-methods/mercantil-info' %}
                    {% partial 'payment-methods/mercantil-form' obOrder = obOrder obPaymentMethod = obPaymentMethod title='Ej: dos billetes de 20' orderStatus=7 %}
                </div>
            </div>
            {% elseif obPaymentMethod.code == "paypal"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                    {% partial 'payment-methods/paypal-info' %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Nombre de quien envía el paypal' formId='paypal-form' orderStatus=2 %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "banplus"  %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                    {% partial 'payment-methods/banplus-info' %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Titular de la cuenta' formId='banplus-form' orderStatus=2 %}
                </div>
            </div>
            {% endif %}
        
        {% elseif obOrder.currency.code == "VES" %}
            {% if obPaymentMethod.code == "pago-movil" or obPaymentMethod.code == "transfer-ves" %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                   
                {% if obPaymentMethod.code == "pago-movil" %}
                    {% partial 'payment-methods/pago-movil-info'  %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Referencia' orderStatus=2 %}
                {% elseif obPaymentMethod.code == "transfer-ves" %}
                
                    {% partial 'payment-methods/transfer-ves-info' %}

                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Referencia' orderStatus=2 %}
                    
                {% endif %}
                
               
                </div>
            </div>


            {% endif %}
           
            {% if obPaymentMethod.code == "banplus" %}
            <div class="{{mainIndex !=1 ? 'd-none' }} payment-card card-body pt-0" id="card-{{obPaymentMethod.code}}">
                {% set mainIndex = mainIndex+1 %}
                <div class="row">
                    
                    {% partial 'payment-methods/banplus-info' %}

                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Titular de la cuenta' orderStatus=2 %}
                    
                </div>
            </div>
            {% endif %}

        {% endif %}


        
    {% endfor %}
</div>