
   <div class="order-header pt-0 w-100">
    <hr>
    <form class="file-payment-form" id="{{formId}}" data-request-files data-request-validate >
        <div class="form-row">
            <label>{{title}}</label>
            <input type="text" class="form-control" id="reference" name="reference">
         </div>
         
         <div class="d-flex justify-content-center pt-2">
           <button class="btn btn-primary">Enviar</button>
         </div>

        <input type="hidden" name="method_id" value="{{obPaymentMethod.id is not null ? obPaymentMethod.id : paymentMethodId }}">

        <input type="hidden" name="status_id" value="2">

        <input type="hidden" name="order_status_id" value="{{orderStatus}}">

        {% if currencyId is not null %}
        <input type="hidden" name="currency_id" value="{{currencyId}}">
        {% endif %}
     </form>
   </div>
   

