[PaymentMethodList]
==

{% set obPaymentMethodList = PaymentMethodList.make().sort().active() %}

<div class="product-tabs">
    <div class="product-tabs__list">
        <div class="product-tabs__list-body">
            <div class="product-tabs__list-container container">
                {% for obPaymentMethod in obPaymentMethodList %}
                    {% if obOrder.currency.code == "USD" %}
                        {% if obPaymentMethod.code == "zelle" or 
                            obPaymentMethod.code == "stripe" or 
                            obPaymentMethod.code == "cash" or
                            obPaymentMethod.code == "mercantil"  %}
                        <a href="#tab-{{obPaymentMethod.code}}" class="product-tabs__item {{loop.index ==0 ? 'product-tabs__item--active' }}">
                            {{obPaymentMethod.name}}
                        </a>
                        {% endif %}
                    
                    {% elseif obOrder.currency.code == "VES" %}
                        {% if obPaymentMethod.code == "pago-movil" or obPaymentMethod.code == "transfer-ves" %}
                        <a href="#tab-{{obPaymentMethod.code}}" class="product-tabs__item {{loop.index ==0 ? 'product-tabs__item--active' }}">
                            {{obPaymentMethod.name}}
                        </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="product-tabs__content">
        {% for obPaymentMethod in obPaymentMethodList %}

        {% if obOrder.currency.code == "USD" %}
            {% if obPaymentMethod.code == "zelle"  %}
            <div class="product-tabs__pane {{loop.index ==0 ? 'product-tabs__pane--active' }} " id="tab-{{obPaymentMethod.code}}">
                <div class="row">
                {% partial 'payment-methods/zelle'  %}

                {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Nombre de quien envía el Zelle' formId='zelle-form' orderStatus=2 %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "stripe"  %}
            <div class="product-tabs__pane {{loop.index ==0 ? 'product-tabs__pane--active' }} " id="tab-{{obPaymentMethod.code}}">
                <div class="row">
                {% partial 'payment-methods/stripe-info' %}
                {% partial 'payment-methods/stripe' obOrder = obOrder %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "cash"  %}
            <div class="product-tabs__pane {{loop.index ==0 ? 'product-tabs__pane--active' }} " id="tab-{{obPaymentMethod.code}}">
                <div class="row">
                    {% partial 'payment-methods/cash-info' %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Ej: dos billetes de 20' orderStatus=7 %}
                </div>
            </div>

            {% elseif obPaymentMethod.code == "mercantil"  %}
            <div class="product-tabs__pane {{loop.index ==0 ? 'product-tabs__pane--active' }} " id="tab-{{obPaymentMethod.code}}">
                <div class="row">
                    {% partial 'payment-methods/mercantil-info' %}
                    {% partial 'payment-methods/mercantil-form' obOrder = obOrder obPaymentMethod = obPaymentMethod title='Ej: dos billetes de 20' orderStatus=7 %}
                </div>
            </div>

            {% endif %}
        
        {% elseif obOrder.currency.code == "VES" %}
            {% if obPaymentMethod.code == "pago-movil" or obPaymentMethod.code == "transfer-ves" %}
            <div class="product-tabs__pane {{loop.index ==0 ? 'product-tabs__pane--active' }} " id="tab-{{obPaymentMethod.code}}">
                <div class="row">
                {% if obPaymentMethod.code == "pago-movil" %}
                    {% partial 'payment-methods/pago-movil-info'  %}
                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Referencia' orderStatus=2 %}
                {% elseif obPaymentMethod.code == "transfer-ves" %}
                
                    {% partial 'payment-methods/transfer-ves-info' %}

                    {% partial 'payment-methods/payment-form' obPaymentMethod = obPaymentMethod title='Referencia' orderStatus=2 %}
                    
                {% endif %}
                
               
                </div>
            </div>
            {% endif %}
        {% endif %}


        
        {% endfor %}
        
    </div>
</div>