<div class="order-header pb-0">
    
    <h5 class="order-header__title">Paypal</h5>
    <div class="order-header__subtitle">
        Realiza tu pago paypal a la siguiente cuenta: <strong>
            <a href="https://paypal.me/contigo24" target="_blank">https://paypal.me/contigo24</a>
        </strong>
        por la totalidad del monto y luego notifícanos llenando el formulario a continuación
    </div>
</div>