<div class="order-header pt-0 w-100">
    <form id="payment-form" data-request-validate data-request-flash>
                                               
        <div class="form-row">
    
            <div class="form-group col-md-12 col-lg-12 placeholder-dark mt-3 mb-3">
    
                <label for="exampleInputEmail1" style="color:black;">Nombre y apellido del titular</label>
    
                <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Ej: Juan Pérez"> 
    
            </div>
    
            <div class="form-group col-md-12 col-lg-12">
    
                <div id="card-element" style="border: 1px solid #ccc;
    
                border-radius: 4px; padding:4px 4px; width: 100%;"> 
    
                <!-- a Stripe Element will be inserted here. -->
    
                </div>
    
            </div>
    
            <!-- Used to display form errors -->
    
            <div id="card-errors" role="alert"></div>
    
        </div>
    
        <input type="hidden" name="mt" id="mt" value="{{encrypt(obOrder.total_price_value)}}">
    
        <input type="hidden" name="ref" id="ref" value="{{obOrder.order_number }}">
    
        <input type="hidden" name="orderid" id="orderid" value="{{obOrder.id }}">    
    
        <br>
    
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary" id="pay-btn">¡Pagar!</button>
        </div>
    
            
    
         
       
    </form>
</div>

<script src='https://js.stripe.com/v3/'></script>