<div class="order-header pb-0">
    
    <h5 class="order-header__title">Tarjeta de Débito/Crédito</h5>
    <div class="order-header__subtitle">
        Puedes usar tu tarjeta internacional sin preocupaciones, nuestro sistema encripta
        tu información y no la almacena.
    </div>
</div>