<div class="order-header">
    
    <h5 class="order-header__title">Transferencias</h5>
    <div class="order-header__subtitle">
        Realiza tu pago a alguna de nuestras cuentas: 
        <ul class="mt-2">
            <li><strong>Número:</strong> 0108-0082-0301-0024-9186</li>
            <li><strong>Banco:</strong> PROVINCIAL</li>
            <li><strong>Titular:</strong> YADIXON RAMIREZ</li>
            <li><strong>Documento:</strong> V-12.355.690</li>
        </ul>
        <hr>
        <ul>
            <li><strong>Número:</strong> 0134-1009-7100-0300-1228</li>
            <li><strong>Banco:</strong> BANESCO</li>
            <li><strong>Titular:</strong> YADIXON RAMIREZ</li>
            <li><strong>Documento:</strong> V-12.355.690</li>
        </ul>

        Una vez lo hagas llena el formulario a continuacion para notificar el mismo.
    </div>
</div>