<div class="order-header">
    
    <h5 class="order-header__title">Zelle</h5>
    <div class="order-header__subtitle">
        <ul>
            <li>Realiza tu pago mediante <strong>zelle</strong>
                al siguiente correo <strong>distriramal18@gmail.com</strong> cuenta bussiness
            </li>
            <li>beneficiario: <strong>YADIXON RAMIREZ	
            </strong></li>
            <li>Una vez lo hagas llena el formulario a continuacion para notificar el mismo.</li>
        </ul>
        
         <br>
        
    </div>
</div>

