[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog"
==

<div class="block-sidebar__item pb-4">
    <div class="widget-categories widget-categories--location--blog widget">
        <h4 class="widget__title">Categorías</h4>
        <ul class="widget-categories__list" data-collapse="" data-collapse-opened-class="widget-categories__item--open">
            {% for category  in blogCategories.categories %}
            <li class="widget-categories__item" data-collapse-item="">
                <div class="widget-categories__row">
                    <a href="{{ 'blog-category'|page({slug: category.slug }) }}">
                        <svg class="widget-categories__arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                        {{category.name}}
                    </a>
                </div>
            </li>
            {% endfor %}
            <!-- collapsed 
            <li class="widget-categories__item" data-collapse-item="">
                <div class="widget-categories__row">
                    <a href="">
                        <svg class="widget-categories__arrow" width="6px" height="9px">
                            <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                        </svg>
                        Special Offers
                    </a>
                    <button class="widget-categories__expander" type="button" data-collapse-trigger=""></button>
                </div>
                <div class="widget-categories__subs" data-collapse-content="">
                    <ul>
                        <li><a href="">Spring Sales</a></li>
                        <li><a href="">Summer Sales</a></li>
                        <li><a href="">Autumn Sales</a></li>
                        <li><a href="">Christmas Sales</a></li>
                        <li><a href="">Other Sales</a></li>
                    </ul>
                </div>
            </li>
              -->
        </ul>
    </div>
</div>