<div class="block-sidebar__item">
    <div class="widget-aboutus widget">
        <h4 class="widget__title">Sobre nuestro blog</h4>
        <div class="widget-aboutus__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est erat faucibus purus,
            eget viverra nulla sem vitae neque. Quisque id sodales libero.
        </div>
        <!-- social-links -->
        <div class="social-links widget-aboutus__socials social-links--shape--rounded">
            <ul class="social-links__list">
                <li class="social-links__item">
                    <a class="social-links__link social-links__link--type--rss" href="" target="_blank">
                        <i class="fas fa-rss"></i>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="social-links__link social-links__link--type--youtube" href="" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="social-links__link social-links__link--type--facebook" href="" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="social-links__link social-links__link--type--twitter" href="" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-links__item">
                    <a class="social-links__link social-links__link--type--instagram" href="" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- social-links / end -->
    </div>
</div>