<div class="block">
    <div class="posts-view">
    
        <div class="posts-view__list posts-list posts-list--layout--list">
            <div class="posts-list__body">
                {% for post in posts %}
                <div class="posts-list__item">
                    <div class="post-card post-card--layout--list post-card--size--nl">
                        <div class="post-card__image">
                            <a href="{{ 'post-single'|page({slug: post.slug }) }}">
                                <img src="{{post.featured_images[0].path}}" alt="">
                            </a>
                        </div>
                        <div class="post-card__info">
                            {% for category in post.categories %}
                            <div class="post-card__category">
                                <a href="">{{category.name}}</a>
                            </div>
                            {% endfor %}
                            <div class="post-card__name">
                                <a href="{{ 'post-single'|page({slug: post.slug }) }}">{{post.title}}</a>
                            </div>
                            <div class="post-card__date">{{ post.published_at|date('M d, Y') }}</div>
                            <div class="post-card__content">
                                {{post.excerpt}}
                            </div>
                            <div class="post-card__read-more">
                                <a href="{{ 'post-single'|page({slug: post.slug }) }}" class="btn btn-secondary btn-sm">Leer Más</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>

        <div class="posts-view__pagination">
            {% if posts.lastPage > 1 %}
            <ul class="pagination justify-content-center">
                
                <li class="page-item {{ posts.currentPage > 1 ? '' : 'disabled' }}">
                    <a class="page-link page-link--with-arrow" href="{{ 'blog'|page({ page: posts.currentPage-1 }) }}" aria-label="Previous">
                        <svg class="page-link__arrow page-link__arrow--left" aria-hidden="true" width="8px" height="13px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-left-8x13"></use>
                        </svg>
                    </a>
                </li>
                {% for page in 1..posts.lastPage %}
                <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
                    <a class="page-link" href="{{ 'blog'|page({ page: page }) }}">{{ page }}</a>
                </li>
                {% endfor %}
               
                <li class="page-item {{ posts.currentPage == posts.lastPage ? 'disabled' }}"> 
                    <a class="page-link page-link--with-arrow  "
                        href="{{ 'blog'|page({ page: posts.currentPage+1 }) }}" aria-label="Next">
                        <svg class="page-link__arrow page-link__arrow--right" aria-hidden="true" width="8px" height="13px">
                            <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-8x13"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>

