[viewBag]
snippetCode = "7-products-row"
snippetName = "7 products row"
snippetProperties[codes][title] = "External ID's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""
snippetProperties[name][title] = "Title"
snippetProperties[name][type] = "string"
snippetProperties[name][default] = ""
snippetProperties[name][options][] = ""

[ProductList]
sorting = "no"
==
{% component 'ProductList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}

{% set obProductList = ProductList.make().getByExternalId(arExternalCodes) %}

<div class="block block-products block-products--layout--large-last" data-mobile-grid-columns="2">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">{{name}}</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-products__body">
            <div class="block-products__list">
                {% for obProduct in obProductList %}
                    {% if loop.last == false %}
                    <div class="block-products__list-item">
                        <div class="product-card ">
                            {#
                            <button class="product-card__quickview" type="button">
                                <svg width="16px" height="16px">
                                    <use xlink:href="{{'images/sprite.svg'|media}}#quickview-16"></use>
                                </svg>
                                <span class="fake-svg-icon"></span>
                            </button>
                            #}
                            <div class="product-card__badges-list">
                                {#
                                <div class="product-card__badge product-card__badge--hot">Hot</div>
                                #}
                            </div>
                            <div class="product-card__image product-image">
                                <a href="{{ 'single-product'|page({product_id: obProduct.id, slug: obProduct.slug }) }}" class="product-image__body">
                                    <img class="product-image__img" src="{{obProduct.preview_image.path}}" alt="">
                                </a>
                            </div>
                            <div class="product-card__info">
                                <div class="product-card__name">
                                    <a href="{{ 'single-product'|page({product_id: obProduct.id, slug: obProduct.slug }) }}">{{obProduct.name}}</a>
                                </div>
                                
                            </div>
                            <div class="product-card__actions">
                                {#
                                <div class="product-card__availability">
                                    Availability: <span class="text-success">In Stock</span>
                                </div>
                                #}
                                {% set obOffer = obProduct.offer.active().first() %}

                                <div class="product-card__actions">
                                    <div class="product-card__availability">
                                      {#  Availability: <span class="text-success">In Stock</span>#}
                                    </div>
                                    {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                                    <div class="product-card__prices">
                                        
                                        <p class="custom-availability"><span class="grey-1-text">Disponibles:</span> <span class="green-text">{{obOffer.quantity}}</span></p>
                                       
                                            {% if obOffer.old_price_value > 0 %}
                                            <span class="product-card__new-price">
                                                {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                            </span>
                                            <span class="product-card__old-price">
                                                {{ obOffer.old_price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                            </span>
                                            {% else %}
                                            {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                            
                                            {% endif %}
                                        
                                    </div>
                                   
                                    <div class="product-card__buttons">
                                        <form class="d-flex justify-content-between w-100 product-card-form">
                                            <div class="col-md-6 col-sm-12 pl-0">
                                                <div class="form-group">
                                                
                                                    <select name="quantity" class="form-control select-card-{{obProduct.id}}">
                                                        {% for i in 1..obOffer.quantity %}
                                                        <option value="{{i}}">{{i}}</option>
                                                        {% endfor %}
                                                    </select>
                                                  </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 pr-0">
                                                <input type="submit" value="Añadir" class="btn btn-primary product-card__addtocart w-100">
                                                    
                                            </div>
                                            <input type="hidden" name="offer" value="{{obOffer.id}}">
                                        </form>
                                        
                                    </div>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% set lastProduct = obProductList.last %}
            {% set obOffer = lastProduct.offer.active().first() %}
            <div class="block-products__featured">
                <div class="block-products__featured-item">
                    <div class="product-card product-card--hidden-actions ">
                        {#
                        <button class="product-card__quickview" type="button">
                            <svg width="16px" height="16px">
                                <use xlink:href="{{'images/sprite.svg'|media}}#quickview-16"></use>
                            </svg>
                            <span class="fake-svg-icon"></span>
                        </button>
                        #}
                        <div class="product-card__badges-list">
                            <div class="product-card__badge product-card__badge--new">New</div>
                        </div>
                        <div class="product-card__image product-image">
                            <a href="{{ 'single-product'|page({product_id: lastProduct.id, slug: lastProduct.slug }) }}" class="product-image__body">
                                <img class="product-image__img" src="{{lastProduct.preview_image.path}}" alt="">
                            </a>
                        </div>
                        <div class="product-card__info">
                            <div class="product-card__name">
                                <a href="{{ 'single-product'|page({product_id: lastProduct.id, slug: lastProduct.slug }) }}">{{lastProduct.name}}</a>
                            </div>
                            
                        </div>
                        <div class="product-card__actions">
                            {% if obOffer.quantity > 0 and obOffer.price_value > 0 %}
                            <div class="product-card__prices">
                                {% set obOffer = lastProduct.offer.active().first() %}
                                <p class="custom-availability"><span class="grey-1-text">Disponibles:</span> <span class="green-text">{{obOffer.quantity}}</span></p>
                                {% if obOffer.old_price_value > 0 %}
                                <span class="product-card__new-price">
                                    {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                </span>
                                <span class="product-card__old-price">
                                    {{ obOffer.old_price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                </span>
                                {% else %}
                                {{ obOffer.price|replace({' ':'.'})  }} {{obOffer.getActiveCurrency()}}
                                
                                {% endif %}
                            
                            </div>
                            <div class="product-card__buttons">
                                <button class="btn btn-primary product-card__addtocart product-trigger" type="button" data-product-id="{{lastProduct.id}}">
                                    Ver Producto
                                </button>
                                <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button">Ver Producto</button>
                                
                            </div>

                            {% else %}
                    <!-- .product__options / end -->
                            <div class="card pt-2 pb-2 mt-3">
                                <div class="card-content text-center ">
                                    Este producto se encuentra <strong>AGOTADO</strong>
                                </div>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>