[viewBag]
snippetCode = "block-post"
snippetName = "Blog posts list"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No se encontraron publicaciones."
sortOrder = "published_at desc"
categoryPage = ""
postPage = ""
==
<div class="block block-posts" data-layout="grid-3" data-mobile-columns="1">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Últimas noticias</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel">
            {% set posts = blogPosts.posts %}

            {% for post in posts %}
                <div class="post-card  ">
                    <div class="post-card__image">
                        <a href="{{'post-single'|page({slug:post.slug })}}">
                            <img src="{{post.featured_images[0].path}}" alt="">
                        </a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__name">
                            <a href="{{'post-single'|page({slug:post.slug })}}">{{post.title}}</a>
                        </div>
                        <div class="post-card__date">{{ post.published_at|date('M d, Y') }}</div>
                        <div class="post-card__content">
                            {{post.excerpt}}
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
                
                
            </div>
        </div>
    </div>
</div>