[viewBag]
snippetCode = "products-by-external-id"
snippetName = "Products by External ID"
snippetProperties[codes][title] = "External ID's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""
snippetProperties[name][title] = "Title"
snippetProperties[name][type] = "string"
snippetProperties[name][default] = ""
snippetProperties[name][options][] = ""

[ProductList]
sorting = "no"
==
{% component 'ProductList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}

{% set obProductList = ProductList.make().getByExternalId(arExternalCodes) %}


<div class="block block-products-carousel" data-layout="grid-5" data-mobile-grid-columns="2">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">{{name}}</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                {% set index = 0 %}

                {% for obProduct in obProductList %}

                    {% if index ==  0 %}

                        <div class="block-products-carousel__column ">

                    {% endif %}
                    
                    {% partial 'misc/carousel-cell' obProduct = obProduct %}

                    
                    {% if index == 1 %}
                    
                        </div>

                    {% set index = 0 %}
                    {% else %}

                    {% set index = index+1 %}

                    {% endif %}

                    
                {% endfor %}

            </div>
        </div>
    </div>
</div>