[viewBag]
snippetCode = "one-row-products-by-external-id"
snippetName = "One Row Products by External ID"
snippetProperties[codes][title] = "External ID's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""
snippetProperties[name][title] = "Title"
snippetProperties[name][type] = "string"
snippetProperties[name][default] = ""
snippetProperties[name][options][] = ""

[ProductList]
sorting = "no"
==
{% component 'ProductList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}

{% set obProductList = ProductList.make().getByExternalId(arExternalCodes) %}

<div class="block block-products-carousel" data-layout="grid-5" data-mobile-grid-columns="2">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">{{name}}</h3>
            <div class="block-header__divider"></div>
            {#
            <ul class="block-header__groups-list">
                <li><button type="button" class="block-header__group  block-header__group--active ">All</button></li>
                <li><button type="button" class="block-header__group ">Power Tools</button></li>
                <li><button type="button" class="block-header__group ">Hand Tools</button></li>
                <li><button type="button" class="block-header__group ">Plumbing</button></li>
            </ul>
            #}
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-left-7x11"></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href="{{'images/sprite.svg'|media}}#arrow-rounded-right-7x11"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-products-carousel__slider">
            <div class="block-products-carousel__preloader"></div>
            <div class="owl-carousel">
                {% for obProduct in obProductList %}
                <div class="block-products-carousel__column">
                    {% partial 'misc/carousel-cell' obProduct = obProduct %}
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>