[viewBag]
snippetCode = "categories-by-externalid"
snippetName = "Categories By External id"
snippetProperties[codes][title] = "id's"
snippetProperties[codes][type] = "string"
snippetProperties[codes][default] = ""
snippetProperties[codes][options][] = ""
snippetProperties[name][title] = "Title"
snippetProperties[name][type] = "string"
snippetProperties[name][default] = ""
snippetProperties[name][options][] = ""

[CategoryList]
sorting = "no"
==
{% component 'CategoryList' %}

{% set spaceLess = codes|replace({' ': ''}) %}

{% set arExternalCodes = spaceLess|split(',') %}


{% set obCategoryList = CategoryList.make().getByExternalId(arExternalCodes) %}

<div class="block block--highlighted block-categories block-categories--layout--compact">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">{{name}}</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-categories__list">
            
            {% for obCategory in obCategoryList %}
                
                <div class="block-categories__item category-card category-card--layout--compact">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href="{{ 'category'|page({slug: obCategory.slug }, false) }}"><img src="{{obCategory.preview_image.path}}" alt=""></a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name">
                                <a href="">{{obCategory.name}}</a>
                            </div>
                            <div class="category-card__all">
                                <a href="">Show All</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>