[viewBag]
snippetCode = "slider"
snippetName = "Slider Home"

[carousel]
carousel = 1

[carousel carouselMobile]
carousel = 2
==
<div class="block-slideshow block-slideshow--layout--with-departments block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block"></div>
            <div class="col-12 col-lg-9">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        {% for i, slide in carousel.carousel.slides %}

                        <a class="block-slideshow__slide" href="#">
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop" style="background-image: url('{{slide.imagePath}}')"></div>
                            <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile" style="background-image: url('{{carouselMobile.carousel.slides[i].imagePath}}')"></div>
                            <div class="block-slideshow__slide-content">
                                <div class="block-slideshow__slide-title">{{ slide.caption }}</div>
                                <div class="block-slideshow__slide-text">{{ slide.description|raw }}</div>
                                {% if (slide.url) %}
                                <div class="block-slideshow__slide-button">
                                    <a href="{{ slide.url }}" target="_blank"> <span class="btn btn-primary btn-lg">Visitar</span></a>
                                </div>
                                
                                {% endif %}

                                
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>